@font-face {
  font-family: 'Okojo';
  src: url('okojo.woff2') format('woff'), url('okojo.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Okojo';
  src: url('okojo-bold.woff2') format('woff'), url('okojo-bold.woff') format('woff2');
  font-weight: bold;
  font-style: normal;
}
