:root {
  --canvas-inner-size: calc(var(--canvas-size) + 10px);
  --canvas-left: 245px;
  --canvas-size: 614px;
  --canvas-top: 15px;
  --color-app-base: #000;
  --color-body: #ccc;
  --color-blue: #16168a;
  --color-none: #111;
  --color-red: #8f0d0d;
  --color-white: #b8b8b8;
  --color-yellow: #aaaa03;
  --controller-selectors-height: 30px;
  --corner-roundness: 4px;
  --dial-hub: 6px;
  --dial-size: 44px;
  --divot-size: 100px;
  --dot-size: 69px;
  --performance-controller-off-opacity: .4;
  --transition-color-change: 300ms;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-body);
  -webkit-app-region: drag;
}

.icon-button {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-button:active,
.icon-button:focus {
  outline: none;
}

.icon-button__icon {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  opacity: 0.2;
  transition: opacity 100ms;
}

.icon-button--pressed .icon-button__icon,
.icon-button--flashing .icon-button__icon {
  opacity: 1;
}

.icon-button--disabled .icon-button__icon {
  opacity: 0.07;
}

.icon-button--hidden .icon-button__icon {
  opacity: 0 !important;
}

.icon-button--selected .icon-button__icon {
  opacity: 0.7;
}

.icon-button__icon--clear-canvas { background-image: url(./assets/tmp-icons/clear-canvas.png) }
.icon-button__icon--on-off { background-image: url(./assets/tmp-icons/on-off.png) }
.icon-button__icon--play { background-image: url(./assets/tmp-icons/play.png) }
.icon-button__icon--redo { background-image: url(./assets/tmp-icons/redo.png) }
.icon-button__icon--seq-custom { background-image: url(./assets/tmp-icons/seq-custom.png) }
.icon-button__icon--seq-down { background-image: url(./assets/tmp-icons/seq-down.png) }
.icon-button__icon--seq-mutually-exclusive { background-image: url(./assets/tmp-icons/seq-mutually-exclusive.png) }
.icon-button__icon--seq-random { background-image: url(./assets/tmp-icons/seq-random.png) }
.icon-button__icon--seq-step { background-image: url(./assets/tmp-icons/seq-step.png) }
.icon-button__icon--seq-up { background-image: url(./assets/tmp-icons/seq-up.png) }
.icon-button__icon--sound-assignments { background-image: url(./assets/tmp-icons/sound-assignments.png) }
.icon-button__icon--stop { background-image: url(./assets/tmp-icons/stop.png) }
.icon-button__icon--undo { background-image: url(./assets/tmp-icons/undo.png) }

/* TODO: Implement SVG icons!! (ie: Pay for Fontawesome) */
.icon-button__icon--on-off.icon-button__icon--white svg { fill: var(--color-white) }
.icon-button__icon--on-off.icon-button__icon--red svg { fill: var(--color-red) }
.icon-button__icon--on-off.icon-button__icon--yellow svg { fill: var(--color-yellow) }
.icon-button__icon--on-off.icon-button__icon--blue svg { fill: var(--color-blue) }

.icon-button__icon--on-off {
  opacity: 0.3;
}

.seurat {
  position: relative;
  width: 915px;
  height: 614px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: var(--color-app-base);
  border-radius: 10px;
  overflow: hidden;
}

.seurat--with-divot::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: 115px;
  right: calc(-1 * (var(--divot-size) / 2 + 15px));
  z-index: 9999;
  width: var(--divot-size);
  height: var(--divot-size);
  border-radius: var(--divot-size);
  background-color: var(--color-body);
}

.canvas {
  position: absolute;
  top: var(--canvas-top);
  left: var(--canvas-left);
  width: calc(var(--canvas-size) + 1px);
  height: var(--canvas-size);
  overflow: hidden;
  -webkit-app-region: no-drag;
  user-select: none;
  transform: rotate(180deg) scaleX(-1);
  border-radius: var(--corner-roundness);
}

.canvas__inner {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: var(--canvas-inner-size);
  height: var(--canvas-inner-size);
}

.dot {
  position: relative;
  float: left;
  display: block;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: var(--dot-size);
  margin: 8.82px 9px 0 0;
  user-select: none;
  overflow: hidden;
  transition: background-color var(--transition-color-change);
}

.dot::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: var(--dot-size);
  content: " ";
  opacity: 0;
  transition: opacity 150ms;
}

.dot--flashing::after {
  opacity: 1;
}

.dot.dot--group-forced::after {
  opacity: 1 !important;
}

.dot.dot--group-forced.dot--group-forced-white::after { background-color: var(--color-white) }
.dot.dot--group-forced.dot--group-forced-red::after { background-color: var(--color-red) }
.dot.dot--group-forced.dot--group-forced-yellow::after { background-color: var(--color-yellow) }
.dot.dot--group-forced.dot--group-forced-blue::after { background-color: var(--color-blue) }

.dot.dot--group-none { background-color: var(--color-none) }
.dot.dot--group-white { background-color: var(--color-white) }
.dot.dot--group-white.dot--flashing::after { background-color: #fff }
.dot.dot--group-red { background-color: var(--color-red) }
.dot.dot--group-red.dot--flashing::after { background-color: #ff0000 }
.dot.dot--group-yellow { background-color: var(--color-yellow) }
.dot.dot--group-yellow.dot--flashing::after { background-color: #ffff00 }
.dot.dot--group-blue { background-color: var(--color-blue) }
.dot.dot--group-blue.dot--flashing::after { background-color: #0000ff }

.palette {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 175px;
  height: 604px;
  -webkit-app-region: no-drag;
}

.performance-controller {
  position: relative;
  width: 100%;
  height: 135px;
  margin-bottom: 21.2px;
  opacity: var(--performance-controller-off-opacity);
  transition: opacity var(--transition-color-change);
}

.performance-controller--active {
  opacity: 1;
}

.dial {
  position: absolute;
  margin-right: 5px;
  width: var(--dial-size);
  height: var(--dial-size);
  border-radius: var(--dial-size);
  transition: background-color var(--transition-color-change);
}

.dial::after {
  display: block;
  content: ' ';
  position: absolute;
  top: calc(var(--dial-hub) / 2);
  left: calc(var(--dial-hub) / 2);
  width: calc(var(--dial-size) - var(--dial-hub));
  height: calc(var(--dial-size) - var(--dial-hub));
  border-radius: calc(var(--dial-size) - var(--dial-hub));
  background-color: var(--color-app-base);
}

.dial:last-child {
  margin-right: 0;
}

.performance-controller--white .dial { background-color: var(--color-white) }
.performance-controller--red .dial { background-color: var(--color-red) }
.performance-controller--yellow .dial { background-color: var(--color-yellow) }
.performance-controller--blue .dial { background-color: var(--color-blue) }

.performance-controller__selectors {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--controller-selectors-height);
  border-radius: var(--corner-roundness);
  overflow: hidden;
  transition: background-color var(--transition-color-change);
}

.performance-controller--white .performance-controller__selectors { background-color: var(--color-white) }
.performance-controller--red .performance-controller__selectors { background-color: var(--color-red) }
.performance-controller--yellow .performance-controller__selectors { background-color: var(--color-yellow) }
.performance-controller--blue .performance-controller__selectors { background-color: var(--color-blue) }

.performance-controller__selectors .icon-button {
  float: left;
  width: 25%;
  height: var(--controller-selectors-height);
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-color-change);
}

.performance-controller__selectors .icon-button:first-child {
  border-top-left-radius: var(--corner-roundness);
  border-bottom-left-radius: var(--corner-roundness);
}

.performance-controller__selectors .icon-button:last-child {
  border-top-right-radius: var(--corner-roundness);
  border-bottom-right-radius: var(--corner-roundness);
}

.performance-controller__selectors .icon-button--selected {
  background-color: rgba(0, 0, 0, 0.3);
}

.performance-controller__selectors .icon-button--emphasised {
  filter: invert(100%);
  background-color: rgba(0, 0, 0, 0.9); /* TODO: Don't use opacity to simulate color, pick actual solid colors */
}

.performance-controller__selectors .icon-button__icon {
  display: block;
  width: 12px;
  height: 12px;
  opacity: 0.3; /* TODO: Faded icon buttons should be a SVG color (ie: Pay for Fontawesome) */
  transition: opacity var(--transition-color-change);
}
.performance-controller__selectors .icon-button--selected .icon-button__icon,
.performance-controller__selectors .icon-button--emphasised .icon-button__icon {
  opacity: 0.7;
}

.performance-controller:last-child .performance-controller__selectors .icon-button__icon {
  transform: translate(0, 1px); /* TODO: Weird! */
}

.performance-controller__selectors button:last-child {
  margin-right: 0;
}

.performance-controller__selectors button:focus,
.performance-controller__selectors button:active {
  outline: none;
}

.dial:nth-child(1) {
  top: 0;
  left: 5px;
}

.dial:nth-child(2) {
  top: 46px;
  left: 41px;
}

.dial:nth-child(3) {
  top: 0;
  left: 86px;
}

.dial:nth-child(4) {
  top: 46px;
  left: 126px;
}

.device-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 604px;
}

.device-controls__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.device-controls__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.device-controls .icon-button {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto 45px auto;
}

.instrument-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 145px;
  transform: scale(.5);
  transform-origin: bottom left;
}

.instrument-logo h1 {
  position: relative;
  height: 126px;
  width: 26px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  transform: scale(1.15);
  transform-origin: top center;
}

.instrument-logo h1 span {
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  line-height: 22px;
  width: 121px;
  height: 26px;
  transform: rotate(90deg);
  transform-origin: bottom left;
  color: var(--color-white);
  font-family: 'u8';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color var(--transition-color-change);
}

.instrument-logo--white h1 span { color: var(--color-white) }
.instrument-logo--red h1 span { color: var(--color-red) }
.instrument-logo--yellow h1 span { color: var(--color-yellow) }
.instrument-logo--blue h1 span { color: var(--color-blue) }

.seurat--device-off .instrument-logo h1 span {
  color: var(--color-none) !important;
}

.seurat--device-off .dot {
  background-color: var(--color-none) !important;
}

.seurat--device-off .dot,
.seurat--device-off .performance-controller {
  opacity: var(--performance-controller-off-opacity) !important;
}

.seurat--device-off .dial,
.seurat--device-off .performance-controller .performance-controller__selectors {
  background-color: var(--color-none) !important;
}

.seurat--device-off .icon-button__icon--play,
.seurat--device-off .icon-button__icon--stop,
.seurat--device-off .icon-button__icon--clear-canvas,
.seurat--device-off .icon-button__icon--sound-assignments {
  opacity: 0 !important;
}

.code-editor {
  position: absolute;
  top: 100%;
  left: 100%;
  opacity: 0;
  transition: opacity var(--transition-color-change);
  background: rgba(0, 0, 0, 0.7);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--corner-roundness);
}

.code-editor--open { /* TODO: Remove doubled BEM classes, eg: `.foo.foo--bar` >> `.foo--bar`  */
  top: var(--canvas-top);
  left: var(--canvas-left);
  width: var(--canvas-size);
  height: var(--canvas-size);
  opacity: 1;
}

.code-editor--white { border-color: var(--color-white) }
.code-editor--red { border-color: var(--color-red) }
.code-editor--blue { border-color: var(--color-blue) }
.code-editor--yellow { border-color: var(--color-yellow) }
