/* TODO: Break this file up by component, 7-to-1 */
:root {
  --canvas-inner-size: calc(var(--canvas-size) + 10px);
  --canvas-left: 245px; /* TODO: Not needed */
  --canvas-size: 614px;
  --canvas-top: 15px;
  --color-a: #8f0d0d;
  --color-app-base: #000;
  --color-b: #aaaa03;
  --color-body: #ccc;
  --color-c: #16168a;
  --color-none: #111;
  --color-white: #d8d8d8;
  --controller-selectors-height: 30px;
  --corner-roundness: 4px;
  --divot-size: 110px;
  --dot-size: 69px;
  --performace-controller-dial-hub: 6px;
  --performace-controller-dial-size: 44px;
  --performance-controller-off-opacity: .5;
  --transition-color-change: 300ms;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-body);
  -webkit-app-region: drag;
}

body.no-cursor,
body.no-cursor * {
  cursor: none !important;
}

/* TODO: Move Dial to common, create some generic styles for it */
.dial {
  position: relative;
  overflow: hidden;
  background-clip: content-box;
  padding: 1px;
}

.dial__ui {
  position: absolute;
  top: -2px;
  left: -2px;
}

.dial__ui svg {
  cursor: auto !important;
}

.dial--pressed .dial__ui svg {
  cursor: none !important;
}

/* TODO: Move IconButton to common */
.icon-button {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-button:active,
.icon-button:focus {
  outline: none;
}

.icon-button__icon {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  opacity: 0.2;
  transition: opacity 100ms;
}

.icon-button--pressed .icon-button__icon,
.icon-button--flashing .icon-button__icon {
  opacity: 1;
}

.icon-button--disabled .icon-button__icon {
  opacity: 0.07 !important;
}

.icon-button--hidden {
  pointer-events: none; /* TODO: This? Or guarded in JS? Or both?? */
}

.icon-button--hidden .icon-button__icon {
  opacity: 0 !important;
}

.icon-button--selected .icon-button__icon {
  opacity: 0.7;
}

/* TODO: Move PressAndHoldButton to common */
.press-and-hold-button--flashing .icon-button {
  animation: flashing 255ms infinite;
}

@keyframes flashing {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.icon-button__icon--banks { background-image: url(./assets/tmp-icons/banks.png) }
.icon-button__icon--clear-canvas { background-image: url(./assets/tmp-icons/clear-canvas.png) }
.icon-button__icon--connect { background-image: url(./assets/tmp-icons/connect.png) }
.icon-button__icon--cue { background-image: url(./assets/tmp-icons/cue.png) }
.icon-button__icon--drum-mode { background-image: url(./assets/tmp-icons/drum-mode.png) }
.icon-button__icon--on-off { background-image: url(./assets/tmp-icons/on-off.png) }
.icon-button__icon--play { background-image: url(./assets/tmp-icons/play.png) }
.icon-button__icon--redo { background-image: url(./assets/tmp-icons/redo.png) }
.icon-button__icon--seq-custom { background-image: url(./assets/tmp-icons/seq-custom.png) }
.icon-button__icon--seq-down { background-image: url(./assets/tmp-icons/seq-down.png) }
.icon-button__icon--seq-mutually-exclusive { background-image: url(./assets/tmp-icons/seq-mutually-exclusive.png) }
.icon-button__icon--seq-random { background-image: url(./assets/tmp-icons/seq-random.png) }
.icon-button__icon--seq-step { background-image: url(./assets/tmp-icons/seq-step-alt.png) }
.icon-button__icon--seq-step-confined { background-image: url(./assets/tmp-icons/seq-step-alt-confined.png) }
.icon-button__icon--seq-up { background-image: url(./assets/tmp-icons/seq-up.png) }
.icon-button--select-color-none .icon-button__icon { background-image: url(./assets/tmp-icons/select-color-none.png) }
.icon-button--select-color-a .icon-button__icon { background-image: url(./assets/tmp-icons/select-color-a.png) }
.icon-button--select-color-b .icon-button__icon { background-image: url(./assets/tmp-icons/select-color-b.png) }
.icon-button--select-color-c .icon-button__icon { background-image: url(./assets/tmp-icons/select-color-c.png) }
.icon-button__icon--sound-assignments { background-image: url(./assets/tmp-icons/sound-assignments.png) }
.icon-button__icon--stop { background-image: url(./assets/tmp-icons/stop.png) }
.icon-button__icon--undo { background-image: url(./assets/tmp-icons/undo.png) }

/* TODO: Implement SVG icons!! (ie: Pay for Fontawesome) */
.icon-button__icon--on-off.icon-button__icon--a svg { fill: var(--color-a) }
.icon-button__icon--on-off.icon-button__icon--b svg { fill: var(--color-b) }
.icon-button__icon--on-off.icon-button__icon--c svg { fill: var(--color-c) }

.icon-button__icon--on-off {
  opacity: 0.3;
}

.icon-button__icon--connect {
  transform: scale(1.32);
}

.icon-button__icon--cue {
  transform: scale(1.13);
}

.icon-button__icon--clear-canvas {
  transform: scale(1.1);
}

.icon-button--select-color-a .icon-button__icon,
.icon-button--select-color-b .icon-button__icon,
.icon-button--select-color-c .icon-button__icon {
  filter: none !important;
  opacity: 1 !important;
}

.icon-button--disabled.icon-button--select-color-a .icon-button__icon,
.icon-button--disabled.icon-button--select-color-b .icon-button__icon,
.icon-button--disabled.icon-button--select-color-c .icon-button__icon {
  transition: opacity 0ms !important;
  filter: invert(100%) !important;
  background-image: url(./assets/tmp-icons/select-color-none.png) !important;
  opacity: 0.07 !important;
}

.seurat--device-off .icon-button--select-color-a .icon-button__icon,
.seurat--device-off .icon-button--select-color-b .icon-button__icon,
.seurat--device-off .icon-button--select-color-c .icon-button__icon {
  opacity: 0 !important;
}

.icon-button--select-color-none .icon-button__icon {
  transition: opacity 0ms; /* TODO: Fix HACK: Cause it bounces back to `opacity: 1` and then transitions to `opacity: 2`. Might be fixed by SVG */
  opacity: 0.2 !important; /* TODO: This is getting messy... */
}

.seurat {
  position: relative;
  width: 915px;
  height: 614px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background-color: var(--color-app-base);
  border-radius: 10px;
  overflow: hidden;
}

.seurat--with-divot::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: 60px;
  right: calc(-1 * (var(--divot-size) / 2 + 15px));
  z-index: 9999;
  width: var(--divot-size);
  height: var(--divot-size);
  border-radius: var(--divot-size);
  background-color: var(--color-body);
}

.canvas {
  position: absolute;
  top: var(--canvas-top);
  left: var(--canvas-left);
  width: calc(var(--canvas-size) + 1px);
  height: var(--canvas-size);
  overflow: hidden;
  -webkit-app-region: no-drag;
  user-select: none;
  transform: rotate(180deg) scaleX(-1);
  border-radius: var(--corner-roundness);
}

.canvas__inner {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: var(--canvas-inner-size);
  height: var(--canvas-inner-size);
}

.dot {
  position: relative;
  float: left;
  display: block;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: var(--dot-size);
  margin: 8.82px 9px 0 0;
  user-select: none;
  overflow: hidden;
  transition: background-color var(--transition-color-change);
}

.dot::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: var(--dot-size);
  content: " ";
  opacity: 0;
  transition: opacity 150ms;
}

.dot--flashing::after {
  opacity: 1;
}

.dot.dot--group-forced::after {
  opacity: 1 !important;
}

.dot.dot--group-forced.dot--group-forced-a::after { background-color: var(--color-a) }
.dot.dot--group-forced.dot--group-forced-b::after { background-color: var(--color-b) }
.dot.dot--group-forced.dot--group-forced-c::after { background-color: var(--color-c) }

.dot.dot--group-none { background-color: var(--color-none) }
.dot.dot--group-a { background-color: var(--color-a) }
.dot.dot--group-a.dot--flashing::after { background-color: #ff0000 }
.dot.dot--group-b { background-color: var(--color-b) }
.dot.dot--group-b.dot--flashing::after { background-color: #ffff00 }
.dot.dot--group-c { background-color: var(--color-c) }
.dot.dot--group-c.dot--flashing::after { background-color: #0000ff }

.palette {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 180px;
  height: 614px;
  -webkit-app-region: no-drag;
}

.performance-controller {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  opacity: var(--performance-controller-off-opacity);
  transition: opacity var(--transition-color-change);
}

.performance-controller--active {
  opacity: 1;
}

.performance-controller .dial {
  position: absolute;
  width: var(--performace-controller-dial-size);
  height: var(--performace-controller-dial-size);
  border-radius: var(--performace-controller-dial-size);
  transition: background-color var(--transition-color-change);
  transform: rotate(-38deg);
}

.performance-controller .dial__ui {
  transition: opacity var(--transition-color-change);
}

.performance-controller .dial__hub {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(var(--performace-controller-dial-size) - var(--performace-controller-dial-hub));
  height: calc(var(--performace-controller-dial-size) - var(--performace-controller-dial-hub));
  border-radius: calc(var(--performace-controller-dial-size) - var(--performace-controller-dial-hub));
  background-color: var(--color-app-base);
  content: " ";
  pointer-events: none;
}

.seurat-dial {
  position: absolute;
  width: 44px;
  height: 44px;
}

.seurat-dial--disabled {
  pointer-events: none;
}

.seurat--device-off .seurat-dial .dial__ui {
  opacity: 0;
}

.seurat-dial:nth-child(1) {
  top: 0;
  left: 5px;
}

.seurat-dial:nth-child(2) {
  top: 56px;
  left: 46px;
}

.seurat-dial:nth-child(3) {
  top: 0;
  left: 86px;
}

.seurat-dial:nth-child(4) {
  top: 56px;
  left: 131px;
}

.seurat-dial__label {
  position: absolute;
  width: 43px;
  height: 14px;
  color: #111;
  font-size: 9px;
  line-height: 14px;
  border-radius: 3px;
  opacity: 0.5;
  background-color: var(--color-none);
}

.seurat-dial:nth-child(1) .seurat-dial__label,
.seurat-dial:nth-child(3) .seurat-dial__label {
  top: 0;
  left: 50%;
  text-align: right;
  padding-right: 5px;
}

.seurat-dial:nth-child(2) .seurat-dial__label,
.seurat-dial:nth-child(4) .seurat-dial__label {
  bottom: 0;
  right: 50%;
  text-align: left;
  padding-left: 5px;
}

.performance-controller--a .dial { background-color: var(--color-a) }
.performance-controller--b .dial { background-color: var(--color-b) }
.performance-controller--c .dial { background-color: var(--color-c) }

.performance-controller--a .seurat-dial__label { background-color: var(--color-a) }
.performance-controller--b .seurat-dial__label { background-color: var(--color-b) }
.performance-controller--c .seurat-dial__label { background-color: var(--color-c) }

.seurat--device-off .seurat-dial__label { background-color: var(--color-none) !important }

.performance-controller__selectors {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--controller-selectors-height);
  border-radius: var(--corner-roundness);
  overflow: hidden;
  transition: background-color var(--transition-color-change);
}

.performance-controller--a .performance-controller__selectors { background-color: var(--color-a) }
.performance-controller--b .performance-controller__selectors { background-color: var(--color-b) }
.performance-controller--c .performance-controller__selectors { background-color: var(--color-c) }

.performance-controller__selectors .icon-button {
  float: left;
  width: 25%;
  height: var(--controller-selectors-height);
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color var(--transition-color-change);
  border-right: 1px solid rgba(255, 255, 255, 0.01);
  filter: invert(100%);
}

.performance-controller__selectors .icon-button:first-child {
  border-top-left-radius: var(--corner-roundness);
  border-bottom-left-radius: var(--corner-roundness);
}

.performance-controller__selectors .icon-button:last-child {
  border-top-right-radius: var(--corner-roundness);
  border-bottom-right-radius: var(--corner-roundness);
}

.performance-controller__selectors .icon-button--selected {
  background-color: transparent;
}

.performance-controller__selectors .icon-button--emphasised {
  filter: invert(100%);
  background-color: rgba(0, 0, 0, 0.9); /* TODO: Don't use opacity to simulate color, pick actual solid colors */
}

.performance-controller__selectors .icon-button__icon {
  display: block;
  width: 11px;
  height: 11px;
  opacity: 0.4; /* TODO: Faded icon buttons should be a SVG color (ie: Pay for Fontawesome) */
  transition: opacity var(--transition-color-change);
}
.performance-controller__selectors .icon-button--selected .icon-button__icon,
.performance-controller__selectors .icon-button--emphasised .icon-button__icon {
  opacity: 0.6;
}

.performance-controller:last-child .performance-controller__selectors .icon-button__icon {
  transform: translate(0, 1px); /* TODO: Weird! */
}

.performance-controller__selectors button:last-child {
  margin-right: 0;
}

.performance-controller__selectors button:focus,
.performance-controller__selectors button:active {
  outline: none;
}

.device-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 604px;
}

.device-controls__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.device-controls__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.device-controls__divider {
  width: 100%;
  height: 1px;
  background-color: #111;
  transform: translate(0, -22px);
}

.device-controls .icon-button {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto 44px auto;
}

.device-controls__bottom .icon-button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

.instrument-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 128px;
  transform: scale(.5);
  transform-origin: bottom left;
}

.instrument-logo h1 {
  position: relative;
  height: 126px;
  width: 26px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  transform-origin: top center;
}

.instrument-logo h1 span {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  line-height: 22px;
  width: 121px;
  height: 26px;
  transform: rotate(90deg);
  transform-origin: top left;
  color: var(--color-white);
  font-family: 'u8';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color var(--transition-color-change);
}

.instrument-logo--a h1 span { color: var(--color-a) }
.instrument-logo--b h1 span { color: var(--color-b) }
.instrument-logo--c h1 span { color: var(--color-c) }

.seurat--device-off .instrument-logo h1 span {
  color: var(--color-none) !important;
}

.seurat--device-off .canvas {
  filter: grayscale(100%);
}

.seurat--device-off .dot {
  background-color: var(--color-none) !important;
}

.seurat--device-off .dot,
.seurat--device-off .performance-controller {
  opacity: var(--performance-controller-off-opacity) !important;
}

.seurat--device-off .dial,
.seurat--device-off .performance-controller .performance-controller__selectors {
  background-color: var(--color-none) !important;
}

.seurat--device-off .icon-button__icon--play,
.seurat--device-off .icon-button__icon--stop,
.seurat--device-off .icon-button__icon--clear-canvas,
.seurat--device-off .icon-button__icon--sound-assignments {
  opacity: 0 !important;
}

.code-editor {
  position: absolute;
  top: 100%;
  left: 100%;
  opacity: 0;
  transition: opacity var(--transition-color-change);
  background: rgba(0, 0, 0, 0.7);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--corner-roundness);
}

.main-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 87px;
  border-radius: var(--corner-roundness);
}

.main-controls__dial-logo {
  position: absolute;
  bottom: 0;
  left: 5px;
  z-index: 9999;
  width: 62px;
  height: 62px;
  line-height: 62px;
  color: var(--color-white);
  font-family: 'u8';
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  transition: color var(--transition-color-change);
  pointer-events: none;
  transform: translate(0, -1px);
}

.main-controls__dial-logo--a { color: var(--color-a) }
.main-controls__dial-logo--b { color: var(--color-b) }
.main-controls__dial-logo--c { color: var(--color-c) }

.main-controls__dial {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transition: background-color var(--transition-color-change);
  background-color: #fff;
}

.main-controls__dial .dial__hub {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-color: var(--color-app-base);
  content: " ";
  pointer-events: none; /* Should be part of the Dial component's generic styles */
}

.seurat--device-off .main-controls__dial {
  background-color: var(--color-none);
}

.seurat--device-off .main-controls__dial .dial__ui {
  opacity: 0;
}

.main-controls__dial--preset-selector {
  left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  z-index: 2;
}

.main-controls__dial--preset-selector .dial__hub {
  top: 5px;
  left: 5px;
  width: 52px;
  height: 52px;
  border-radius: 52px;
}

.main-controls__dial--bank-selector {
  right: 52px;
}

.main-controls__dial--foo {
  right: 5px;
}

.main-controls__dial--bank-selector .dial__hub,
.main-controls__dial--foo .dial__hub {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
}

.main-controls__screen {
  position: absolute;
  top: 25px;
  left: 85px;
  width: 80px;
  height: 25px;
  background-color: #bbb;
  z-index: 1;
}

.lcd-screen { /* TODO: Move to common with the component */
  position: absolute;
  top: 25px;
  left: 85px;
  width: 80px;
  height: 25px;
}

.lcd-screen__pixel {
  float: left;
  width: 10px;
  height: 10px;
}

.lcd-screen__pixel--on {
  background: #333;
}
