:root {
  --canvas-size: 614px;
  --canvas-inner-size: calc(var(--canvas-size) + 8px);
  --dot-size: 70.6px;
  --dial-size: 44px;
  --color-red: #8f0d0d;
  --color-yellow: #aaaa03;
  --color-blue: #16168a;
  --color-white: #b8b8b8;
  --color-none: #111;
  --color-app-base: #000;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: #ccc;
  -webkit-app-region: drag;
}

.icon-button {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.icon-button:active,
.icon-button:focus {
  outline: none;
}

.icon-button__icon {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  opacity: 0.2;
}

.icon-button--selected .icon-button__icon {
  opacity: 0.5;
}

.icon-button__icon--on-off {
  background-image: url(./assets/tmp-icons/on-off.png);
}

.icon-button--selected .icon-button__icon {
  filter: none;
  background-image: url(./assets/tmp-icons/on-off--green.png);
}

.seurat {
  position: relative;
  width: 880px;
  height: 614px;
  margin: 15px auto 0 auto;
  padding: 15px;
  background: var(--color-app-base);
  border-radius: 10px;
}

.canvas {
  position: absolute;
  top: 15px;
  left: 215px;
  width: calc(var(--canvas-size) + 1px);
  height: var(--canvas-size);
  overflow: hidden;
  -webkit-app-region: no-drag;
  user-select: none;
  transition: left 250ms;
  transform: rotate(180deg) scaleX(-1);
}

.canvas__inner {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: var(--canvas-inner-size);
  height: var(--canvas-inner-size);
}

.dot {
  position: relative;
  float: left;
  display: block;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 64px;
  margin: 7px 7px 0 0;
  user-select: none;
  overflow: hidden;
}

.dot::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  opacity: 0;
  transition: all 150ms;
}

.dot.dot--flashing::after {
  opacity: 1;
}

.dot.dot--group-none { background: var(--color-none) }
.dot.dot--group-white { background: var(--color-white) }
.dot.dot--group-white.dot.dot--flashing::after { background: #fff }
.dot.dot--group-red { background: var(--color-red) }
.dot.dot--group-red.dot.dot--flashing::after { background: #ff0000 }
.dot.dot--group-yellow { background: var(--color-yellow) }
.dot.dot--group-yellow.dot.dot--flashing::after { background: #ffff00 }
.dot.dot--group-blue { background: var(--color-blue) }
.dot.dot--group-blue.dot.dot--flashing::after { background: #0000ff }

.palette {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 175px;
  height: 614px;
  -webkit-app-region: no-drag;
}

.performance-controller {
  position: relative;
  width: 100%;
  height: 124px;
  margin-bottom: 39px;
  opacity: .2;
}

.performance-controller--active {
  opacity: 1;
}

.dial {
  position: absolute;
  margin-right: 5px;
  width: var(--dial-size);
  height: var(--dial-size);
  border-radius: var(--dial-size);
}

.dial::after {
  display: block;
  content: ' ';
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(var(--dial-size) - 10px);
  height: calc(var(--dial-size) - 10px);
  border-radius: calc(var(--dial-size) - 10px);
  background: var(--color-app-base);
}

.dial:last-child {
  margin-right: 0;
}

.performance-controller--white .dial { background: var(--color-white) }
.performance-controller--red .dial { background: var(--color-red) }
.performance-controller--yellow .dial { background: var(--color-yellow) }
.performance-controller--blue .dial { background: var(--color-blue) }

.performance-controller__selectors {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.performance-controller--white .performance-controller__selectors { background: var(--color-white) }
.performance-controller--red .performance-controller__selectors { background: var(--color-red) }
.performance-controller--yellow .performance-controller__selectors { background: var(--color-yellow) }
.performance-controller--blue .performance-controller__selectors { background: var(--color-blue) }

.performance-controller__selectors button {
  width: 43.75px;
  height: 30px;
  background: transparent;
  border: none;
}

.performance-controller__selectors button:focus,
.performance-controller__selectors button:active {
  outline: none;
}

.dial:nth-child(1) {
  top: 0;
  left: 0;
}

.dial:nth-child(2) {
  top: 40px;
  left: 41px;
}

.dial:nth-child(3) {
  top: 0;
  left: 86px;
}

.dial:nth-child(4) {
  top: 40px;
  left: 131px;
}

.device-controls {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 614px;
  border-radius: 5px;
  /* background: var(--color-none); */
}

.device-controls__top {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
}

.device-controls__bottom {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}

.device-controls .icon-button {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto;
}
