.articles-grid {
  width: 100vw;
  padding-top: 30px;
  background: #000;
  color: #fff;
  text-align: center;
  /* TODO: StickyBody has to restore all pointer-events on its own */
  pointer-events: all;
}

.articles-grid-content {
  width: 1280px;
  margin: 0 auto;
}

.articles-grid-heading {
  margin: 0 0 60px 0;
  font-size: 24px;
}

.article-tile {
  float: left;
  width: calc(100% / 3);
  margin: 0 0 50px 0;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: left;
}

.article-tile-image {
  margin-bottom: 20px;
}

.article-tile-image img {
  display: block;
  width: 100%;
  height: auto;
}

.article-tile-category {
  display: block;
  margin: 0 0 5px 0;
  font-size: 12px;
}

.article-tile-text h3 {
  margin: 0 0 10px 0;
}

.article-tile-text p {
  margin: 0 0 10px 0;
}

.articles-grid-four-up .article-tile {
  width: calc(100% / 4);
}

@media screen and (max-width: 1279px) {
  .articles-grid-content {
    width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .articles-grid-content {
    width: 768px;
  }

  .article-tile {
    float: left;
    width: calc(100% / 2) !important;
    margin: 0 0 50px 0;
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .articles-grid-content {
    width: 100vw;
  }

  .article-tile {
    float: left;
    width: 100% !important;
    margin: 0 0 50px 0;
    padding: 0 10px;
  }
}
