.cart-popup {
  height: 100%;
}

.cart-popup header {
  padding: 0 10px;
}

/* TODO: Global H1 class */
.cart-popup header h1 {
  margin: 0 0 30px 0;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

.cart-popup-content {
  padding: 0 15px;
}

.cart-popup-empty {
  text-align: center;
}

.cart-popup-empty p:first-child {
  margin-top: 190px;
  margin-bottom:80px;
  font-size: 32px;
}

.cart-popup-empty .action-button {
  display: block;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
}

.cart-popup-items {
  height: 295px;
  margin-bottom: 10px;
  background: #efefef;
}

.cart-popup-item {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px 10px 0 10px;
  border-top: 1px solid #000;
}

.cart-popup-item:last-child {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.hem-popup-content .cart-popup-item h2 {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}

.hem-popup-content .cart-popup-item p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.cart-popup-item-price {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-popup-item-remove {
  position: absolute;
  top: 60px;
  left: 10px;
  font-size: 10px;
  cursor: pointer;
}

.cart-popup-item-remove a {
  cursor: pointer;
}

.cart-popup-item-remove .hem-close-button {
  background-color: transparent;
}

.cart-popup-item-remove .hem-close-button span {
  background-color: #000;
}

.cart-popup-totals {
  font-size: 12px;
  line-height: 20px;
  text-align: right;
}

.cart-popup-totals strong {
  display: inline-block;
  margin-top: 18px;
  font-size: 18px;
  text-align: right;
}

.cart-popup-check-out .action-button {
  display: inline-block;
  width: 190px;
  height: 50px;
  font-size: 24px;
  margin-top: 80px;
  margin-right: 15px;
}

.cart-popup-check-out .action-button.continue-button {
  width: 225px;
  font-size: 24px;
  margin-top: 40px;
  background-color: var(--light-gray);
}

.cart-popup-check-out .cart-popup-total {
  display: block;
  float: right;
  margin-right: 10px;
  font-weight: 600;
}

.cart-popup-redirecting-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
}

.cart-popup-redirecting-overlay-content #paypal-button-container {
  width: 450px;
  margin: 0 auto;
}

.cart-popup-redirecting-overlay-content h2 {
  margin: 30px auto !important;
  font-size: 48px !important;
}
