.footer-player-controls {
  position: fixed;
  bottom: 0;
  left: 40px;
  z-index: 9999;
  width: calc(100vw - 80px);
  height: 100px;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms;
}

.website-player-stuck .footer-player-controls {
  pointer-events: all;
  opacity: 1;
}

.website-player-stuck .footer-player-controls .website-player-controls {
  left: 0;
  border-top: 1px solid #fff;
}

.website-player-stuck .footer-player-controls,
.website-player-stuck .footer-player-controls .hem-slider {
  transition: none !important;
}
