.main-footer {
  position: sticky;
  top: 0;
  z-index: 9999999;
  width: 100vw;
  margin: 0 auto;
  font-size: 14px;
  line-height: 32px;
  overflow-x: hidden;
}

.main-footer a {
  color: inherit;
}

.site-footer {
  width: 20000px;
  height: 850px;
  margin-left: -10000px;
  background-color: #222;
  color: #eee;
}

.site-footer-content {
  position: absolute;
  left: 50%;
  margin: 100px auto 0 calc(-1 * 1000px / 2);
  width: 1000px;
}

.site-footer-content h1 {
  font-size: 100px;
  font-weight: 100;
  margin-left: -9px;
}

.site-footer-content-row {
  font-size: 18px;
  line-height: 42px;
  margin-bottom: 50px;
}

.site-footer-content-row a {
  text-decoration: none;
}

.site-footer-content-fine-print {
  margin-top: 100px;
  font-size: 13px;
  line-height: 26px;
  color: #aaa;
}

.site-footer-content-fine-print a {
  margin-right: 15px;
}

.site-footer-content-column {
  vertical-align: top;
  display: inline-block;
  width: 150px;
}

.site-footer-content-column-wide {
  width: 450px;
  margin-left: 50px;
}

.site-footer-content-column h2 {
  margin-top: 0;
  font-weight: 100;
}

.site-footer-content-column ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-footer-content-column input {
  float: left;
  width: 270px;
  height: 34px;
  padding-left: 14px;
  line-height: 34px;
  border: 0;
  border-top-left-radius: var(--hem-border-radius);
  border-bottom-left-radius: var(--hem-border-radius);
  font-family: Avenir, sans-serif;
  font-size: 16px;
}

.site-footer-content-column button {
  float: left;
  width: 100px;
  border-top-right-radius: var(--hem-border-radius);
  border-bottom-right-radius: var(--hem-border-radius);
}

.site-footer-content-column input:focus,
.site-footer-content-column input:active,
.site-footer-content-column button:focus,
.site-footer-content-column button:active {
  outline: none;
}
