.main-nav {
  position: fixed;
  top: 0;
  right: 5px;
  width: 80vw;
  z-index: 9999;
  height: var(--top-bar-height);
}

.main-nav a:focus,
.main-nav a:active {
  outline: none;
}

.main-nav .main-nav-items {
  width: 80vw;
  height: var(--top-bar-height);
  line-height: var(--top-bar-height);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.main-nav .main-nav-items li {
  display: inline;
  margin: 0 0 0 40px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 100;
}

.main-nav .main-nav-items li a {
  color: inherit;
  text-decoration: none;
}

.large-nav .main-nav-items li a {
  font-size: 30px;
}

.main-nav .main-nav-items li a.active {
  display: inline-block;
  height: 25px;
  border-bottom: 5px solid #fff;
}
