.new-website-heroine {
  position: relative;
  width: 100vw;
  height: calc(100vh - 180px);
  background-color: #000;
  user-select: none;
}

.new-website-heroine * {
  user-select: none;
}

.new-website-heroine-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(http://static.hem.rocks/hem-rocks/site/heroines/ex-piano.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-website-heroine-details {
  position: absolute;
  top: 210px;
  left: -80px;
  z-index: 2;
  width: 100vw;
  height: 180px;
  color: #ffffff;
  font-size: 12px;
}

.new-website-heroine .hem-speaker-button {
  display: none;
  width: 60px;
  height: 60px;
  background-color: var(--line-orange);
  transform: scale(1.5) translate(10px, 5px);
}

.new-website-heroine-text {
  position: absolute;
  top: 10px;
  left: 260px;
  height: 60px;
  transform: scale(1.5) translate(10px, 0);
}

.new-website-heroine-text h2 {
  position: relative;
  margin: 0;
  padding-right: 300px;
  font-size: 32px;
  font-weight: 100;
  background-color: var(--line-orange);
}

.new-website-heroine-text h2 strong {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 52px;
  font-size: 52px;
  line-height: 52px;
  font-weight: normal;
  background-color: var(--line-orange);
}

.new-website-heroine-text h5 {
  float: left;
  width: 350px;
  margin: 0 30px 0 0;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 100;
  background-color: var(--line-orange);
}

.new-website-heroine-text p {
  float: left;
  width: 350px;
  margin: 0 30px 0 0;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 100;
  background-color: var(--line-orange);
}

.new-website-heroine-text .action-button {
  position: absolute;
  top: 53px;
  right: -30px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
}
