.news-list  {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background: #ccc;
}

.news-list  h2 {
  margin-top: 0;
  margin-bottom: 80px;
}

.news-list  ul {
  width: 480px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.news-list  ul li {
  margin: 0 0 50px 0;
  padding: 0;
  border-top: 1px solid #999;
  list-style-type: none;
  font-size: 16px;
}

.news-list  ul li h3,
.news-list  ul li p {
  margin: 10px 0;
}

.news-list  .all-news-link {
  margin: 100px auto 0 auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #999;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}
