.page-made-with-sl .hem-contact-form .form-row {
  width: 800px;
}

.page-made-with-sl .hem-contact-form .hem-contact-form select {
  width: 800px;
}

.page-made-with-sl .hem-contact-form .hem-contact-form input {
  width: 780px;
}

.page-made-with-sl .hem-contact-form .hem-contact-form textarea {
  width: 780px;
}
