.page-home .main-heroine + h2 {
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

/* MAIN CONTENT HACK */

.main-content {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content-items {
  width: 1200px;
  margin: 190px auto 0 auto;
  padding: 0;
}

.app-is-home .main-content-items {
  width: 1200px;
  margin: 65px auto 0 auto;
  padding: 0;
}

.main-content-box {
  border-radius: var(--hem-border-radius);
}

.main-content-box .main-content-box-key-art {
  /* width: 100%;
  height: 100%; */
}

.main-content-box .main-content-box-key-art img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

.main-content-box-template-0 {
  float: left;
  width: 700px;
  user-select: none;
  cursor: pointer;
}

.main-content-box-template-0 h3 {
  font-size: 24px;
}

.main-content-box-template-1 {
  float: right;
  width: 470px;
  margin-top: 290px;
}

.main-content-box-template-1 h3 {
  font-size: 24px;
}

.main-content-box-template-2 {
  float: left;
  clear: right;
  width: 540px;
  margin-top: -150px;
}

.main-content-box-template-2 h3 {
  font-size: 24px;
}

.main-content-box-template-3 {
  float: right;
  margin-left: 30px;
  width: 25%;
  padding-bottom: 35%;
}

.main-content-box-template-3 h3 {
  font-size: 24px;
}

.main-content-box-template-4 {
  float: right;
  width: 25%;
  padding-bottom: 35%;
}

.main-content-box-template-4 h3 {
  font-size: 24px;
}

.main-content-box-template-5 {
  float: right;
  width: 100%;
  padding-bottom: 50%;
}

.main-content-box-template-5 h3 {
  font-size: 24px;
}

.main-content-box-template-6 {
  float: left;
  width: 48.7%;
  padding-bottom: 50%;
}

.main-content-box-template-6 h3 {
  font-size: 48px;
}

.main-content-box-template-7 {
  float: right;
  width: 40%;
  padding-bottom: 50%;
}

.main-content-box-template-7 h3 {
  font-size: 48px;
}

.main-content-box-template-8 {
  float: left;
  width: 57.3%;
  padding-bottom: 50%;
}

.main-content-box-template-8 h3 {
  font-size: 48px;
}

.main-content-box-badge {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.main-content-box:nth-child(even) .main-content-box-badge {
  /* left: 10px; */
}

.main-content-box:nth-child(odd) .main-content-box-badge {
  right: 10px;
}

.main-content-box-key-art {
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 1; */
}

.main-content-box-key-art img {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: auto;
}

/* END MAIN CONTENT HACK */
