.page-internal-polina .flip-books .hem-flip-book {
  float: left;
  background-color: #ddd;
}

.page-internal-polina #clouds-1,
.page-internal-polina #clouds-3 {
  width: 422px;
  height: 317px;
}

.page-internal-polina #clouds-2 {
  width: 238px;
  height: 317px;
}
