.page-tracks-overview .overview-page-row {
  position: relative;
  margin-bottom: 70px;
}

.page-tracks-overview .overview-page-row > a {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  font-weight: 600;
  color: var(--line-orange);
}

.page-tracks-overview .overview-page-row > a:hover {
  text-decoration: underline;
}

.page-tracks-overview .overview-page-row-items {
  display: flex;
  justify-content: space-between;
}

.page-tracks-overview h2 {
  margin: 0 0 30px 0;
  padding-bottom: 5px;
  color: var(--line-orange);
  color: #000;
  font-family: Avenir;
  font-size: 18px;
  border-bottom: 1px solid var(--line-orange);
  text-indent: 10px;
}

.page-tracks-overview .main-content-box {
  padding-left: 0;
  padding-right: 0;
}
