.page-tracks .main-content {
  transform: translateX(-3px);
}

/* .page-tracks .main-content-items {
  margin-top: 100px;
} */

.page-tracks .main-content-box {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.page-tracks .main-content-box-text {
  height: 0;
}

.page-tracks .main-content-box h3 {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 18px;
}

.page-tracks .main-content-box-key-art-image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  border: 1px solid #efefef;
}

.page-tracks .main-content-box h4 {
  margin: 5px 0;
  font-size: 12px;
  font-weight: 100;
}

.page-tracks .main-content-box-actions {
  top: -55px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.page-tracks .main-content-box-actions .hem-player-track-play-pause-button {
  width: 30px;
  height: 30px;
  margin: 0;
}

.page-tracks .main-content-box-actions .hem-player-track-play-pause-button .hem-play-pause-button {
  width: 30px;
  height: 30px;
}

.page-tracks .main-content-box-actions .hem-player-track-play-pause-button .hem-play-pause-button {
  width: 30px;
  height: 30px;
}

.page-tracks .main-content-box-actions .hem-player-track-play-pause-button .hem-play-pause-button .hem-play-pause-button-icon {
  transform: scale(0.6);
}
