.pencil-extras {
  position: sticky;
  top: 50px;
  z-index: 9999;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #000;
  font-size: 11px;
  color: #aaa;
  text-align: center;
  text-transform: lowercase;
  background: #000;
  pointer-events: all;
}

.pencil-extras ul {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
}

.pencil-extras ul li {
  display: inline-block;
  height: 14px;
}

.pencil-extras ul li a {
  display: inline-block;
  height: 14px;
}

.pencil-extras ul li a:hover {
  text-decoration: underline;
}

.pencil-extras .extra-links-left {
  left: 20px;
}

.pencil-extras .extra-links-left a {
  margin-right: 10px;
  padding-right: 10px;
}

.pencil-extras .extra-links-right {
  right: 20px;
}

.pencil-extras .extra-links-right a {
  margin-left: 10px;
  padding-left: 10px;
}

.pencil-extras-website-player-controls {
  transition: opacity 250ms;
}

.pencil-extras-website-player-controls .website-player-controls {
  position: absolute;
  top: -40px;
  left: 40px;
  pointer-events: all;
}

.website-player-stuck .pencil-extras-website-player-controls {
  opacity: 0;
  pointer-events: none;
}
