.player-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  width: 100vw;
  width: 60px;
  height: 60px;
  background-color: #000;
  overflow: hidden;
  user-select: none;
}

.player-bar * {
  user-select: none;
}

.player-bar-expanded {
  width: 100vw;
  overflow: visible;
}

.player-bar-playback-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
}

.player-bar .hem-previous-button,
.player-bar .hem-next-button,
.player-bar .hem-play-pause-button,
.player-bar-main-play-button {
  float: left;
  background-color: #000;
  box-sizing: border-box;
  border-right: 1px solid #666;
  border-top: 1px solid #666;
}

.player-bar-main-play-button {
  border: 0;
}

.player-bar .hem-previous-button .hem-next-button {
  border-right: 0;
}

.player-bar-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.player-bar-toggle .hem-play-pause-button {
  border: 0;
}

.player-bar-expanded .player-bar-toggle {
  border-left: 1px solid #666;
  border-top: 1px solid #666;
}

.player-bar-toggle .hem-close-button-icon {
  transform: scale(.5);
}

.player-bar-toggle .hem-play-pause-button {
  margin-left: 0;
  background-color: var(--line-orange);
}

.player-bar .player-bar-now-playing {
  position: absolute;
  left: 180px;
  top: 0;
  width: calc(100vw - 301px);
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  border-top: 1px solid #666;
  text-indent: 20px;
  color: #eee;
  pointer-events: none;
}

.player-bar .player-bar-now-playing a {
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  pointer-events: all;
}

.hem-player-play-pause-button-spinner {
  width: 60px;
  height: 60px;
}

.hem-player-play-pause-button .hem-spinner {
  position: relative;
  float: left;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  width: 59px;
  height: 60px;
  background-color: #000;
  cursor: pointer;
}

.hem-player-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
}

.hem-player-progress-bar {
  position: absolute;
  left: 181px;
  top: 0;
  width: calc(100vw - 301px);
  height: 60px;
  box-sizing: border-box;
  background: #222;
  cursor: pointer;
}

.hem-player-progress-bar-meter {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #444;
  cursor: pointer;
}

.playlist-toggle {
  position: absolute;
  right: 60px;
  top: 0;
  width: 60px;
  height: 60px;
  border-left: 1px solid #666;
  border-top: 1px solid #666;
  box-sizing: border-box;
  overflow: hidden;
}

.playlist-toggle-close {
  transform: scale(0.7) translateY(15px);
  transform-origin: center;
}

.playlist-toggle .hem-play-pause-button {
  border: 0;
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9) translateY(1.5px);
}

.playlist-toggle .hem-hamburger-button-icon {
  transform: scale(1.1) translateY(1px);
}

.player-bar-playlist {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100vw;
  height: 445px;
  background: #222;
  border-top: 1px solid var(--line-orange);
}

.player-bar-playlist ul {
  width: 100vw;
  height: 366px;
  margin: 0;
  padding: 0;
}

.player-bar-playlist ul.hem-player-playlist-table-header {
  height: 32px;
}

.player-bar-playlist ul.hem-player-playlist-table-header div {
  font-weight: 400;
  font-size: 12px;
  color: #666;
}

.player-bar-playlist li {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #666;
  color: #aaa;
  font-size: 13px;
  cursor: pointer;
  padding-left: 40px;
}

/* .player-bar-playlist ul:not(.hem-player-playlist-table-header) li:last-child {
  border: 0;
} */

.hem-player-playlist-line-active {
  background-color: #666;
}

.player-bar-playlist li .hem-play-pause-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 32px;
  transform-origin: top left;
  border: 0;
  background: transparent;
}

.player-bar-playlist li a {
  text-decoration: none;
  color: inherit;
}

.player-bar-playlist li .hem-play-pause-button-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  transform: scale(0.4) translateX(7px);
  transform-origin: center;
}

.player-bar-playlist li .hem-play-pause-button-icon::after {
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #fff;
}

.hem-player-track-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.player-bar-playlist li .hem-play-pause-button-playing .hem-play-pause-button-icon {
  transform: scale(.3) translateX(10px);
}

.hem-player-playlist-line-text {
  position: absolute;
  top: 0;
  left: 45px;
  width: calc(100vw - 60px);
  height: 32px;
  pointer-events: none;
}

.hem-player-playlist-line-title {
  float: left;
  width: 400px;
}

.hem-player-playlist-line-text-more {
  left: 0;
  width: 100vw;
  text-align: center;
  font-weight: 500;
  text-indent: 15px;
  color: #ccc;
  pointer-events: all;
  background-color: #333;
}

.hem-player-playlist-line-attribution {
  float: left;
  width: 300px;
  text-decoration: none;
  color: inherit;
}

.hem-player-playlist-line-secondary-attribution {
  float: left;
  width: 150px;
  text-decoration: none;
  color: inherit;
}

.hem-player-playlist-line-attribution a,
.hem-player-playlist-line-secondary-attribution a {
  pointer-events: all;
}

.hem-player-playlist-line-attribution a:hover,
.hem-player-playlist-line-secondary-attribution a:hover {
  text-decoration: underline;
}

.hem-player-playlist-line-date,
.hem-player-playlist-line-duration {
  float: right;
  text-align: right;
  width: 150px;
}

.hem-player-playlist-line-share {
  float: right;
  text-align: center;
  width: 150px;
}

.hem-player-playlist-line-share-clickable-area {
  display: inline-block;
  width: 50px;
  pointer-events: all;
}

.hem-player-playlist-line-share-trigger,
.hem-player-playlist-line-share-trigger::before,
.hem-player-playlist-line-share-trigger::after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ccc;
}

.hem-player-playlist-line-share-trigger {
  display: none;
  position: relative;
  transform: scale(0.3) translateY(3px);
}

.hem-player-playlist li:hover .hem-player-playlist-line-share-trigger {
  display: inline-block;
}

.hem-player-playlist-line-share-trigger::before {
  display: block;
  position: absolute;
  top: 0;
  left: -17px;
  content: " ";
}

.hem-player-playlist-line-share-trigger::after {
  display: block;
  position: absolute;
  top: 0;
  right: -17px;
  content: " ";
}

.hem-player-playlist-line-share-menu {
  position: absolute;
  top: -46px;
  left: 100%;
  width: 100px;
  height: 100px;
  background-color: #000;
  border: 1px solid #ccc;
}

.hem-player-playlist-line-no-info {
  color: #444;
}

.hem-player-playlist-tabs {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  color: #eee;
  background-color: #111;
  border-bottom: 1px solid #666;
}

.hem-player-playlist-tab {
  float: left;
  padding: 0 20px;
  cursor: pointer;
}

.hem-player-playlist-active-tab {
  padding: 0 20px;
  background-color: #666;
}

.hem-player-playlist-tab-empty {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100vw;
  height: 298px;
  line-height: 298px;
  text-align: center;
  color: #777;
}

.hem-player-playlist-window-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.hem-player-playlist-window-controls .playlist-toggle-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transform: scale(0.4);
  transform-origin: center;
}

.hem-player-playlist-window-controls .hem-play-pause-button {
  float: left;
  width: 50px;
  height: 50px;
  background: transparent;
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9) translateY(1.5px);
  transform-origin: center;
  border: 0;
}

.player-message {
  position: relative;
}

.player-message input {
  position: absolute;
  opacity: 0;
}

.player-message button {
  width: 300px;
  height: 100px;
  border: 0;
  font-size: 30px;
  color: #fff;
  font-family: Avenir;
  background-color: transparent;
  cursor: pointer;
}

.player-message button:active,
.player-message button:focus {
  outline: none;
}
