.player-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999;
  width: 100vw;
  width: 50px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  box-sizing: border-box;
}

.player-bar * {
  user-select: none;
}

.playlist-toggle,
.player-bar-progress-bar,
.player-bar-now-playing {
  display: none;
}

.player-bar-expanded .playlist-toggle,
.player-bar-expanded .player-bar-progress-bar,
.player-bar-expanded .player-bar-now-playing {
  display: block;
}

.player-bar-expanded {
  bottom: 0;
  left: 50%;
  width: 800px;
  height: 90px;
  margin-left: -400px;
  background-color: #222;
  border-radius: var(--hem-border-radius);
  color: #ddd;
  text-align: center;
  box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.5);
}

.player-bar-expanded.player-bar-playlist-expanded {
  bottom: 100px;
  width: 1024px;
  margin-left: -512px;
}

.player-bar-playlist-expanded + .player-bar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.player-bar-playback-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
}

.player-bar-main-play-button {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-top: 14px;
  border: 2px solid var(--hem-player-icon-color);
  border-radius: 35px;
  font-size: 12px;
}

.player-bar-main-play-button .hem-play-pause-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.player-bar-main-play-button .hem-play-pause-button .fa-icon {
  transform: translate(1px, 1px);
}

.player-bar-main-play-button .hem-play-pause-button-playing .fa-icon {
  transform: translate(0, 1px);
}

.player-bar .hem-player-next-button {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 14px 5px 0 5px;
  font-size: 14px;
  transform: translate(0, 2px);
}

.player-bar .hem-previous-button {
  transform: translate(0, -1.5px);
}

.player-bar .hem-player-next-button .hem-next-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.player-bar-main-play-button,
.player-bar .hem-player-next-button {
  color: var(--hem-player-icon-color);
}

.playlist-toggle:hover,
.player-bar-main-play-button:hover,
.player-bar .hem-player-next-button:hover,
.player-bar-expanded .player-bar-toggle:hover .hem-close-button {
  color: #fff;
  border-color: #fff;
}

.playlist-toggle:active,
.player-bar-main-play-button:active,
.player-bar .hem-player-next-button:active,
.player-bar-expanded .player-bar-toggle:active .hem-close-button {
  color: var(--hem-player-icon-color);
  border-color:var(--hem-player-icon-color)999;
}

.player-bar-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.player-bar-expanded.player-bar-playlist-expanded .player-bar-toggle {
  display: none;
}

.player-bar-toggle .hem-play-pause-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: var(--line-orange);
  font-size: 24px;
  border-radius: var(--hem-border-radius);
  color: #eee;
}

.player-bar-toggle .hem-play-pause-button .fa-icon {
  transform: translate(1px, 2px);
}

.player-bar-expanded .player-bar-toggle .hem-close-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: transparent;
  font-size: 12px;
  border-radius: var(--hem-border-radius);
  color: var(--hem-player-icon-color);
}

.player-bar-toggle .hem-close-button-icon {
  transform: scale(.5);
}

.player-bar .player-bar-now-playing {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 400px;
  border-radius: var(--hem-border-radius);
  overflow: hidden;
  pointer-events: none;
}

.player-bar .player-bar-now-playing img,
.player-bar .player-bar-now-playing p {
  float: left;
}

.player-bar .player-bar-now-playing img {
  box-sizing: border-box;
  border-radius: var(--hem-border-radius);
}

.player-bar .player-bar-now-playing p {
  margin: 0 0 0 7px;
  line-height: 16px;
  text-align: left;
  font-size: 10px;
  letter-spacing: 1px;
}

.player-bar .player-bar-now-playing p strong {
  font-size: 12px;
  font-weight: 400;
}

.hem-player-play-pause-button-spinner {
  width: 60px;
  height: 60px;
}

.hem-player-play-pause-button .hem-spinner {
  position: relative;
  float: left;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  width: 59px;
  height: 60px;
  background-color: #000;
  cursor: pointer;
}

.hem-player-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
}

.player-bar-progress-bar {
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 520px;
  height: 15px;
  line-height: 15px;
  margin-left: -260px;
  text-align: left;
}

.hem-player-progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 3px;
  background: #999;
  cursor: pointer;
  border-radius: var(--hem-border-radius);
  margin-top: -1.5px;
  margin-left: -225px;
}

.hem-player-progress-bar:active {
  background: var(--line-orange);
}

.hem-player-progress-bar:active::after {
  display: block;
  position: absolute;
  top: -4px;
  right: 0;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background-color: #fff;
  content: " ";
}

.player-bar-progress-bar-time {
  position: absolute;
  top: 0;
  width: 35px;
  height: 15px;
  line-height: 17px;
  font-size: 10px;
  text-align: center;
  color: #999;
}

.player-bar-progress-bar-time-start {
  left: 0;
}

.player-bar-progress-bar-time-end {
  right: 0;
}

.hem-player-progress-bar-meter {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #444;
  cursor: pointer;
}

.playlist-toggle {
  position: absolute;
  top: 2.5px;
  right: 300px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: var(--hem-border-radius);
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  transform: translate(0, 16px);
  font-size: 14px;
  color: var(--hem-player-icon-color);
}

.playlist-toggle .hem-hamburger-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.playlist-toggle .hem-hamburger-button .fa-icon {
  transform: translate(-1px, -2px);
}

.playlist-toggle-close {
  transform: scale(0.7) translateY(15px);
  transform-origin: center;
}

.playlist-toggle .hem-play-pause-button {
  border: 0;
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9) translateY(1.5px);
}

.playlist-toggle .hem-hamburger-button-icon {
  transform: scale(1.1) translateY(1px);
}

.player-bar-playlist {
  position: absolute;
  bottom: calc(100% - var(--hem-border-radius));
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 550px;
  background: #111;
  border-radius: var(--hem-border-radius);
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.5);
}

.player-bar-playlist .ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
  width: 5px !important;
}

.player-bar-playlist .ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
  background-color: #333 !important;
}

.player-bar-playlist .ScrollbarsCustom-Thumb.ScrollbarsCustom-ThumbY {
  background-color: #666 !important;
}

.player-bar-playlist ul {
  width: 100%;
  height: 460px;
  margin: 0;
  padding: 0;
}

.player-bar-playlist li {
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
  line-height: 60px;
  margin: 0;
  list-style-type: none;
  color: #aaa;
  font-size: 13px;
  cursor: pointer;
  padding-left: 40px;
  text-align: left;
}

.player-bar-playlist li:hover {
  background-color: #222;
}

.player-bar-playlist li .hem-play-pause-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  transform-origin: top left;
  border: 0;
  background: transparent;
}

.player-bar-playlist li .hem-spinner svg {
  position: absolute;
  top: 17px;
  left: 7px;
  width: 25px;
  height: 25px;
}

.player-bar-playlist li .track-number,
.player-bar-playlist li .fa-icon {
  position: absolute;
  top: 20px;
  left: 0;
  width: 40px;
  height: 40px;
  transform: scale(0.7) translateX(-2px) translateY(-1px);
  transform-origin: center;
}

.player-bar-playlist li .track-number {
  display: block;
  top: 4px;
  left: 11px;
  font-size: 18px;
}

.player-bar-playlist li:hover .track-number {
  display: none;
}

.player-bar-playlist li .fa-icon {
  display: none;
}

.player-bar-playlist li:hover .fa-icon {
  display: block;
}

.hem-player-playlist-line-active .track-number {
  display: none !important;
}

.hem-player-playlist-line-active .fa-icon {
  display: block !important;
  color: var(--line-orange);
}

.player-bar-playlist li .hem-play-pause-button-icon::after {
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #fff;
}

.hem-player-track-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.player-bar-playlist li .hem-play-pause-button-playing .hem-play-pause-button-icon {
  transform: scale(.5);
}

.hem-player-playlist-line-text {
  position: absolute;
  top: 0;
  left: 40px;
  width: 100%;
  height: 40px;
  pointer-events: none;
}

.hem-player-playlist-line-title {
  float: left;
  width: 400px;
}

.hem-player-playlist-line-title p {
  padding: 0;
  margin: 8px 0 0;
  line-height: 20px;
  margin-left: 45px;
  font-size: 13px;
  pointer-events: none;
}

.hem-player-playlist-line-title p strong {
  font-weight: 400;
  font-size: 15px;
  color: #ccc;
}

.hem-player-playlist-line-title p a {
  text-decoration: none;
  color: inherit;
}

.hem-player-playlist-line-title img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 36px;
  height: 36px;
}

.hem-player-playlist-line-attribution,
.hem-player-playlist-line-secondary-attribution {
  float: left;
  width: 300px;
  text-decoration: none;
  color: inherit;
  pointer-events: all;
}

.hem-player-playlist-line-date,
.hem-player-playlist-line-time {
  float: left;
  width: 130px;
  text-align: right;
}

.hem-player-playlist-tabs {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  color: #eee;
  background-color: #222;
}

.hem-player-playlist-tab {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: var(--hem-border-radius);
}

.hem-player-playlist-tab:hover,
.hem-player-playlist-active-tab {
  padding: 0 10px;
  background-color: #666;
}

.hem-player-playlist-tab-empty {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 298px;
  line-height: 298px;
  text-align: center;
  color: #777;
}

.hem-player-playlist-search {
  position: absolute;
  top: 0;
  right: 40px;
}

.hem-player-playlist-search .fa-icon {
  position: absolute;
  top: 20px;
  right: 8px;
  color: #999;
}

.hem-player-playlist-search input {
  width: 300px;
  height: 28px;
  padding: 0 10px;
  line-height: 25px;
  border: 1px solid #444;
  background: transparent;
  border-radius: var(--hem-border-radius);
  color: #ccc;
  font-family: Avenir, sans-serif;
  font-size: 12px;
}

.hem-player-playlist-search input:focus,
.hem-player-playlist-search input:active {
  border: 1px solid #999;
  outline: none;
}

.hem-player-playlist-window-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.hem-player-playlist-window-controls .playlist-toggle-close {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: transparent;
  border-radius: var(--hem-border-radius);
  color: var(--hem-player-icon-color);
}

.hem-player-playlist-window-controls .playlist-toggle-close .hem-play-pause-button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: transparent;
  font-size: 13px;
  border-radius: var(--hem-border-radius);
  color: var(--hem-player-icon-color);
}

.hem-player-playlist-window-controls .hem-play-pause-button {
  float: left;
  width: 50px;
  height: 50px;
  background: transparent;
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9) translateY(1.5px);
  transform-origin: center;
  border: 0;
}

.hem-player-playlist-list-head {
  position: relative;
  height: 45px;
  line-height: 45px;
  text-align: left;
  border-bottom: 1px solid #333;
  color: #aaa;
  font-size: 13px;
}
