.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 50px;
  background: #fff;
  line-height: 50px;
  padding: 0;
  /* TODO: SneakyBody should take care of resetting pointer events all over the place */
  pointer-events: all;
}

.site-header .black {
  background: #111;
}

.site-header .classic-link {
  text-decoration: underline;
}

.site-header h1,
.site-header h2 {
  position: absolute;
  top: 0;
  height: 26px;
  line-height: 25px;
  margin: 12.5px 0 0 10px;
  padding: 0;
  color: #ccc;
  font-family: 'U8', sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  transform-origin: center center;
  transform: scale(0.7);
  text-transform: uppercase;
  pointer-events: all;
  font-size: 32px;
}

.site-header .black h1,
.site-header .black h2 {
  color: #fff;
}

.site-header h1 span,
.site-header h2 span {
  display: block;
  height: 25px;
  transform: translate(-2px, -2px);
  white-space: nowrap;
}

.site-header h1 {
  right: 0;
  width: 76px;
}

.site-header h2 {
  left: 0;
  width: 350px;
  text-align: left;
}

.site-header h1 span {
  width: 78px;
}

.site-header h2 span {
  width: 300px;
}
