.sound-library-home .site-header {
  background: transparent;
}

.sound-library-home .site-header-cover {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100vw;
  height: 50px;
  transition: opacity 250ms;
  background: #000;
  opacity: 0;
  pointer-events: none;
}

.pencil-stuck .sound-library-home .site-header-cover {
  opacity: 1;
}

.sound-library-home .sneaky-hero,
.sound-library-home .sneaky-hero-spacer {
  height: 80vh;
}

.sound-library-home .sneaky-hero {
  pointer-events: all;
}

.sound-library-home-hero {
  position: relative;
  width: 100%;
  height: 80vh;
}

.pencil-stuck .sound-library-home-hero {
  display: none;
}

.sound-library-home-hero-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 80vh;
  opacity: .8;
}

.sound-library-home-hero-backdrop .planes {
  width: 100vw;
  height: 80vh;
}

.sound-library-home-hero-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sound-library-home-hero-content h1 {
  margin: 0;
  font-family: U8;
  font-size: 80px;
  text-transform: uppercase;
}

.sound-library-home-hero-content h2 {
  margin: 0 0 30px 0;
  font-family: U8;
  font-size: 20px;
  text-transform: uppercase;
}

.sound-library-home-hero-content ul {
  margin: 0 0 30px 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.sound-library-home-hero-content li {
  margin: 0 0 10px 0;
  padding: 0;
}
