#thank-you-popup .hem-popup-content {
  transform: translateY(-30px);
}

.thank-you-popup header {
  padding: 0 10px;
}

/* TODO: Global H1 className */
.thank-you-popup header h1 {
  height: 60px;
  margin: 0;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

/* TODO: Globalize this className */
.thank-you-popup-content {
  padding: 0 15px;
}

.thank-you-popup-content p {
  padding: 0;
}

.thank-you-popup-content a {
  color: var(--line-orange);
}

.thank-you-popup-content .download-items {
  height: 130px;
  padding-top: 15px;
  list-style-type: none;
  border-top: 1px solid #ccc;
}

.thank-you-popup-content .download-items li {
  margin-bottom: 5px;
}

.thank-you-popup-email-form {
  width: calc(100% + 30px);
  height: 390px;
  margin: 0 0 0 -15px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.thank-you-popup-email-form h2 {
  width: 650px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 36px;
}

.thank-you-popup-email-form p {
  width: calc(100% + 30px);
  margin-bottom: 35px;
  padding: 0;
}

.thank-you-popup-email-form input {
  display: block;
  width: 260px;
  height: 20px;
  margin: 0 auto 15px auto;
  padding: 10px;
  font-size: 14px;
}

.thank-you-popup-email-form button {
  display: block;
  width: 280px;
  height: 40px;
  margin: 25px auto 10px auto;
  font-size: 18px;
  font-weight: normal;
}
