.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100vw;
  height: 65px;
  padding: 5px;
  line-height: 65px;
  user-select: none;
  background-color: #fff;
}

.top-bar * {
  user-select: none;
}
