.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100vw;
  height: 65px;
  line-height: 65px;
  user-select: none;
  background-color: #fff;
}

.top-bar * {
  user-select: none;
}

.top-bar .top-bar-inner {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}
