.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100vw;
  height: 30px;
  user-select: none;
}

.top-bar * {
  user-select: none;
}

.top-bar-collapsed {
  background-color: #000;
  overflow: hidden;
}

.top-bar-collapsed .logo {
  margin: 0;
  font-size: 65px;
}
