:root {
  --top-bar-height: 30px;
  --main-nav-height: 100px;
  --content-width-desk: 1098px;
  --main-content-body-spacing: 100px;
  --hem-border-radius: 3px;
  --hem-player-icon-color: #ccc;

  /* Colors */
  --line-orange: #fa563c;
  --line-orange-light: #fa8573;
  --light-gray: #cac9c9;
  --nice-blue: #3535e6;
  --exclusive-purple: #e035e6;
}
