.whats-new-in-sl2 h2 {
  margin: 60px 0 20px 0;
  padding: 0;
  font-size: 40px;
  color: var(--line-orange);
  font-weight: 100;
}

.whats-new-in-sl2 img {
  width: 600px;
  height: auto;
}

.whats-new-in-sl2-change-list {
  margin-bottom: 50px;
}

.whats-new-in-sl2-change-list p {
  font-size: 14px !important;
  line-height: 18px !important;
  margin-bottom: 15px !important;
}
