.email-form input {
  border: none;
}

.email-form input {
  border: none;
}

.email-form button {
  width: 120px;
  height: 36px;
  margin: 0 30px 0 0;
  font-size: 14px;
  font-weight: normal;
  background-color: var(--line-orange);
  cursor: pointer;
  border: 0;
  color: #fff;
}

.email-form button:focus,
.email-form button:active {
  outline: none;
}
