:root {
  --top-bar-height: 30px;
  --main-nav-height: 100px;
  --content-width-desk: 1098px;
  --main-content-body-spacing: 100px;
  --hem-border-radius: 20px;
  --hem-border-radius-sm: 5px;
  --hem-player-icon-color: #ccc;
}
