html,
body {
  margin: 0;
  padding: 0;
  background: #111;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 50px;
  background: #111;
}

.site-header .hem-displace-frame {
  margin-left: -10px;
  padding: 0 60px;
  background: #111;
  height: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-header .classic-link {
  text-decoration: underline;
}

.site-header h1 {
  display: inline-block;
  width: 76px;
  height: 25px;
  line-height: 25px;
  margin: 14px 0 0 0;
  padding: 0;
  color: #fff;
  font-family: 'U8', sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  vertical-align: middle;
  transform: translate(0, -2px);
}

.site-header h1 span {
  display: block;
  width: 78px;
  height: 25px;
  transform: translate(-2px, -2px);
}

.hem-hamburger-menu-toggle {
  z-index: 99999;
  top: 9px;
  right: 10px;
  transform: scale(0.7);
}

.hem-hamburger-menu-toggle-open {
  top: 13px;
  right: 12px;
}

.hem-hamburger-menu-toggle span {
  background-color: #fff !important;
}

.hem-hamburger-menu-toggle-open span {
  background-color: #000 !important;
}

.hem-hamburger-menu-content {
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.97);
  box-sizing: border-box;
  font-family: 'U8', sans-serif;
}

.hem-mega-menu-content {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.hem-mega-menu-content h3,
.hem-mega-menu-content h4 {
  margin-top: 0;
}

.hem-mega-menu-content h3 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.hem-mega-menu-content h3.big-heading {
  font-size: 22px;
  line-height: 22px;
}

.hem-mega-menu-content h4,
.hem-mega-menu-content h3.small-heading {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 14px;
}

.hem-mega-menu-content h3.small-heading {
  text-transform: none;
}

.hem-mega-menu-content h3.solo-heading {
  margin: 0 0 30px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
}

.hem-mega-menu-content .spacer {
  height: 30px;
}

.hem-mega-menu-content ul {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
}

.hem-mega-menu-content li {
  margin: 0 0 10px 0;
  font-size: 12px;
  line-height: 12px;
}

.hem-mega-menu-content li.mailing-list-form {
  line-height: 24px;
}

.hem-mega-menu-content p {
  width: 210px;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
}

.hem-mega-menu-content .small-text,
.hem-mega-menu-content .small-text li {
  line-height: 18px;
  font-size: 10px;
}

.hem-mega-menu-content-column {
  float: left;
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.hem-mega-menu-content-column:nth-child(2),
.hem-mega-menu-content-column:nth-child(3) {
  transform: translateY(-3px);
}

.hem-mega-menu-big-logo {
  position: absolute;
  top: 2px;
  left: 0;
  width: 221px;
  height: 78px;
  line-height: 69px;
  font-family: 'U8', sans-serif;
  font-size: 100px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'U8', sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  vertical-align: middle;
  transform: translate(0, -2px);
}

.hem-mega-menu-big-logo span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 229px;
  height: 100px;
  font-family: 'U8', sans-serif;
  font-size: 100px;
  color: #000;
  transform: translate(-7px, -2px);
}

.hem-mega-menu-content-box {
  margin: 0 0 50px 0;
}

.hem-mega-menu-content .campaign-monitor-form {
  margin: 0 0 0 0;
}

.hem-mega-menu-content .campaign-monitor-form input {
  width: 170px;
  margin: 0 5px 0 0;
  padding: 7px;
  border: 1px solid #ccc;
}

.hem-mega-menu-content .campaign-monitor-form button {
  padding: 7px;
  border: 1px solid #ccc;
}

.pack-slider .hem-slider {
  position: absolute;
  width: 100vw;
  height: 95vh;
  top: 0;
  left: -75vw;
  z-index: 9997;
  overflow: visible;
}

.pack-slider .hem-slider-track {
  height: 100vh;
}

.pack-slider .hem-displace,
.pack-slider .hem-displace-frame,
.pack-slider-panel {
  display: inline-block;
  width: 80vw;
  height: 95vh;
  margin-right: 10px;
  background-size: cover;
}

.pack-slider-panel {
  position: relative;
  transform: scale(1.2);
  transform-origin: center center;
}

.pack-info {
  position: absolute;
  bottom: 9vh;
  right: 16vw;
  z-index: 9999;
}

.pack-player {
  position: absolute;
  bottom: -12px;
  right: -10px;
  width: 60vw;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
}

.pack-info-button {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pack-info-volume {
  right: 0;
}

.pack-info-play {
  left: 0;
}

.pack-info-button::after {
  display: block;
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #fff;
  transform: scaleX(1.6) translateX(2.5px);
}

.pack-info-text {
  position: absolute;
  bottom: -5px;
  right: -7px;
  width: 250px;
  height: 350px;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 15px;
  color: #eee;
}

.pack-info-cta {
  margin: 10px 0 0 0;
  padding: 15px 25px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: .7px;
}

.pack-slider .hem-displace-frame {
  overflow: hidden;
}

.pack-nav-header {
  position: absolute;
  top: 3px;
  left: 7px;
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'U8', sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
  opacity: 0.5;
}

.pack-nav {
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: 9999;
  padding: 60px 60px 30px 30px;
  font-family: 'U8', sans-serif;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  transition: background-color 500ms;
}

.pack-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pack-nav ul li {
  position: relative;
  width: calc(100% + 60px);
  margin: 0 0 20px 0;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.pack-nav ul li span {
  display: inline-block;
  padding-bottom: 3px;
}

.pack-nav ul li span.pack-nav-caret {
  margin-right: 7px;
  transform: translateY(-3px);
}

.pack-nav ul li:hover span {
  padding-bottom: 1px;
  border-bottom: 2px solid #fff;
}

.pack-nav ul li.active {
  font-size: 28px;
  cursor: auto;
}

.pack-nav ul li.active:hover span {
  padding-bottom: 3px;
  border-bottom: none;
}

.pack-nav-play {
  padding-bottom: 3px;
  border-bottom: none;
}

.pack-nav-play {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 28px;
  height: calc(100% - 3px);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pack-nav li:hover .pack-nav-play {
  display: flex;
}

.pack-nav-play::after {
  display: block;
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
  transform: scaleX(1.6) translateX(0) translateY(1.5px);
}

.pack-slider-arrow {
  position: absolute;
  z-index: 9999;
  bottom: 25vh;
  width: 30px;
  height: 100px;
  background: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.pack-slider-arrow .pack-slider-arrow-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(.8) translateX(8px) translateY(3px);
}

.pack-slider-arrow .pack-slider-arrow-icon::after,
.pack-slider-arrow .pack-slider-arrow-icon::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 50%;
  background: #fff;
  transform: rotate(-20deg);
  transform-origin: top left;
  opacity: .5;
  transition: opacity 300ms;
}

.pack-slider-arrow:hover .pack-slider-arrow-icon::after,
.pack-slider-arrow:hover .pack-slider-arrow-icon::before {
  opacity: 1;
}

.pack-slider-arrow .pack-slider-arrow-icon::before {
  transform: rotate(20deg);
  top: 46px;
  left: 17px;
}

.pack-slider-arrow-prev {
  left: 0;
  transform: rotate(180deg);
}

.pack-slider-arrow-next {
  right: 0;
}
