html,
body {
  margin: 0;
  padding: 0;
}

.site-header {
  position: relative;
  background: #222;
  height: 50px;
  line-height: 50px;
}

.site-header h1 {
  display: inline-block;
  width: 76px;
  height: 25px;
  line-height: 25px;
  margin: 0 0 0 10px;
  padding: 0;
  color: #fff;
  font-family: 'U8', sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  vertical-align: middle;
  transform: translate(0, -2px);
}

.site-header h1 span {
  display: block;
  width: 78px;
  height: 25px;
  transform: translate(-2px, -2px);
}

.site-header .hem-hamburger-menu-toggle {
  z-index: 99999;
  top: 13px;
  right: 10px;
}

.site-header .hem-hamburger-menu-toggle-open {
  top: 13px;
  right: 12px;
}

.site-header .hem-hamburger-menu-toggle span {
  background-color: #fff;
}

.site-header .hem-hamburger-menu-content {
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: red;
}
