html,
body {
  margin: 0;
  padding: 0;
  background: #111;
  overflow-x: hidden;
  font-family: "Avenir LT W05_35 Light";
}

/* Header and Megamenu */

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 50px;
  line-height: 50px;
  background: #111;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-header .classic-link {
  text-decoration: underline;
}

.site-header h1 {
  width: 76px;
  height: 25px;
  line-height: 25px;
  margin: 12.5px 0 0 10px;
  padding: 0;
  color: #fff;
  font-family: 'U8', sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  transform-origin: center center;
  transform: scale(0.7);
}

.site-header h1 span {
  display: block;
  width: 78px;
  height: 25px;
  transform: translate(-2px, -2px);
}

.hem-hamburger-menu-toggle {
  z-index: 99999;
  top: 12.5px;
  right: 10px;
  transform-origin: center center;
  transform: scale(.9);
}

.hem-hamburger-menu-toggle-open {
  top: 13px;
  right: 12px;
}

.hem-hamburger-menu-toggle span {
  background-color: #fff !important;
}

.hem-hamburger-menu-toggle-open span {
  background-color: #000 !important;
}

.hem-hamburger-menu-content {
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.97);
  box-sizing: border-box;
  font-family: 'U8', sans-serif;
}

.hem-mega-menu-content {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.hem-mega-menu-content h3,
.hem-mega-menu-content h4 {
  margin-top: 0;
}

.hem-mega-menu-content h3 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.hem-mega-menu-content h3.big-heading {
  font-size: 22px;
  line-height: 22px;
}

.hem-mega-menu-content h4,
.hem-mega-menu-content h3.small-heading {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 14px;
}

.hem-mega-menu-content h3.small-heading {
  text-transform: none;
}

.hem-mega-menu-content h3.solo-heading {
  margin: 0 0 30px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
}

.hem-mega-menu-content .spacer {
  height: 30px;
}

.hem-mega-menu-content ul {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
}

.hem-mega-menu-content li {
  margin: 0 0 10px 0;
  font-size: 12px;
  line-height: 12px;
  /* TODO: Mega menu; only set U8 specifically on headings */
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.hem-mega-menu-content li.mailing-list-form {
  line-height: 24px;
}

.hem-mega-menu-content li.mailing-list-form input {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.hem-mega-menu-content p {
  width: 210px;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.hem-mega-menu-content .small-text,
.hem-mega-menu-content .small-text li {
  line-height: 18px;
  font-size: 10px;
}

.hem-mega-menu-content-column {
  float: left;
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.hem-mega-menu-content-column:nth-child(2),
.hem-mega-menu-content-column:nth-child(3) {
  transform: translateY(-3px);
}

.hem-mega-menu-big-logo {
  position: absolute;
  top: 2px;
  left: 0;
  width: 221px;
  height: 78px;
  line-height: 69px;
  font-family: 'U8', sans-serif;
  font-size: 100px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'U8', sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  vertical-align: middle;
  transform: translate(0, -2px);
}

.hem-mega-menu-big-logo span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 229px;
  height: 100px;
  font-family: 'U8', sans-serif;
  font-size: 100px;
  color: #000;
  transform: translate(-7px, -2px);
}

.hem-mega-menu-content-box {
  margin: 0 0 50px 0;
}

.hem-mega-menu-content .campaign-monitor-form {
  margin: 0 0 0 0;
}

.hem-mega-menu-content .campaign-monitor-form input {
  width: 170px;
  margin: 0 5px 0 0;
  padding: 7px;
  border: 1px solid #ccc;
}

.hem-mega-menu-content .campaign-monitor-form button {
  padding: 7px;
  border: 1px solid #ccc;
}

/* Home Page */

.home {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.home .site-header {
  background: #fff;
}

.home .site-header h1 {
  color: #ccc;
}

.home .hem-hamburger-menu-toggle span {
  background-color: #ccc !important;
}

.home main {
  width: 1024px;
  height: 85vh;
  margin: 0 auto;
}

.home main section {
  float: left;
  width: calc(100% / 3);
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.home main section h1 {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0 25%;
  align-items: center;
  justify-content: center;
}

.home main section h1 a {
  position: relative;
  display: flex;
  width: 100%;
  height: 160px;
  align-items: center;
  justify-content: center;
}

.home main section h1 a img {
  width: 100%;
  height: auto;
}

.home main section h1 a span {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  font-family: U8;
  font-weight: bold;
}

.home .pencil-extras {
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #000;
  font-size: 11px;
  color: #aaa;
  text-align: center;
  background: #000;
}

.home .pencil-extras .campaign-monitor-form {
  transform: translateY(1px);
}

.home .pencil-extras .campaign-monitor-form input {
  display: inline-block;
  width: 320px;
  height: 30px;
  margin: 0 10px 0 0;
  padding: 0 15px;
  line-height: 30px;
  border: 0;
  border-radius: 3px;
  background: #eee;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.home .pencil-extras .campaign-monitor-form button {
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  background: #ccc;
  transform: translateY(1px);
  cursor: pointer;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.home .pencil-extras .campaign-monitor-form button:hover {
  background: #333;
  color: #fff;
}

.home .pencil-extras ul {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
}

.home .pencil-extras ul li {
  display: inline-block;
  height: 14px;
}

.home .pencil-extras ul li a {
  display: inline-block;
  height: 14px;
}

.home .pencil-extras ul li a:hover {
  text-decoration: underline;
}

.home .pencil-extras .extra-links-left {
  left: 20px;
}

.home .pencil-extras .extra-links-left a {
  margin-right: 10px;
  padding-right: 10px;
}

.home .pencil-extras .extra-links-right {
  right: 20px;
}

.home .pencil-extras .extra-links-right a {
  margin-left: 10px;
  padding-left: 10px;
}

.home .news {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background: #ccc;
}

.home .news h2 {
  margin-top: 0;
  margin-bottom: 80px;
}

.home .news ul {
  width: 480px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.home .news ul li {
  margin: 0 0 50px 0;
  padding: 0;
  border-top: 1px solid #999;
  list-style-type: none;
  font-size: 16px;
}

.home .news ul li h3,
.home .news ul li p {
  margin: 10px 0;
}

.home .news .all-news-link {
  margin: 100px auto 0 auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #999;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}

.home footer {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #000;
  color: #666;
  font-size: 10px;
}

/* TODO: Visually hidden */
.home main section h1 span {
  font-size: 10px;
  text-transform: uppercase;
}

.home-section-midst img {
  transform: scale(1.7);
}

.home-section-seurat img {
  transform: scale(.8);
}

/* Sound Library */

.player-carousel .hem-carousel {
  position: absolute;
  width: 100vw;
  height: 95vh;
  top: 0;
  left: 0;
  z-index: 9997;
  overflow: visible;
}

.player-carousel .hem-carousel-track {
  height: 100vh;
}

.player-carousel-panel {
  float: left;
  width: 100vw;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform-origin: center center;
  box-sizing: border-box;
}

.pack-info {
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: 9999;
  width: 500px;
  height: calc(95vh - 210px);
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: #eee;
}

.pack-info h3 {
  margin: 0 0 25px 0;
  letter-spacing: 4px;
  font-size: 60px;
  line-height: 60px;
  font-family: 'U8', sans-serif;
  text-transform: uppercase;
  scroll-margin-bottom: 0;
}

.pack-info-description {
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  line-height: 30px;
}

.pack-info-description p {
  margin-bottom: 25px;
}

.pack-info-description ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pack-info-cta {
  display: block;
  margin: 40px 0 0 0;
  padding: 15px 25px;
  border: none;
  color: #fff;
  font-family: 'U8', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: .7px;
  background: orange;
}

.pack-info-cta:focus,
.pack-info-cta:active {
  outline: none;
}

.player-carousel .hem-displace-frame {
  overflow: hidden;
}
.pack-player {
  position: absolute;
  bottom: calc(5vh + 20px);
  left: 20px;
  z-index: 9999;
  width: calc(100vw - 40px);
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
}

.pack-player-button-wrapper {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 1);
}

.pack-player-button-wrapper:last-child {
  margin-right: 0;
}

.prev-button .hem-next-button {
  transform: rotate(180deg);
}

.pack-player .hem-slider {
  float: left;
  width: calc(100vw - 300px);
  height: 60px;
  margin-right: 5px;
  border: none;
}

.pack-player .hem-slider-progress {
  background: #000;
}

.pack-player-000000 .hem-slider-progress {
  background: #000000;
}

.pack-player-103740 .hem-slider-progress {
  background: #103740;
}

.pack-player-271040 .hem-slider-progress {
  background: #271040;
}

.pack-player-104014 .hem-slider-progress {
  background: #104014;
}

.pack-player-591107 .hem-slider-progress {
  background: #591107;
}

.pack-nav,
.pack-info-cta,
.hem-slider-progress {
  transition: background-color 500ms;
}

.carousel-arrow {
  position: fixed;
  bottom: 100px;
  z-index: 9999;
}

.carousel-arrow-prev {
  left: 0;
  transform: rotate(180deg);
}

.carousel-arrow-next {
  right: 0;
}
