html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  -webkit-app-region: drag;
}

.board {
  width: 100vw;
  height: 100vh;
  margin: 20px;
  -webkit-app-region: no-drag;
  user-select: none;
}

.dot {
  float: left;
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}

.dot.dot--group-0 {
  background: #333;
}

.dot.dot--group-1 {
  background: #999;
}
