html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  -webkit-app-region: drag;
}

.board {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dot {
  background: green;
}
