html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  -webkit-app-region: drag;
}

.board {
  position: fixed;
  top: 0;
  right: 0;
  width: 580px;
  height: 580px;
  margin: 20px;
  -webkit-app-region: no-drag;
  user-select: none;
  transition: left 250ms;
}

.drawer-open .board {
  left: 200px;
}

.dot {
  float: left;
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}

.dot.dot--group-0 {
  background: #111;
}

.dot.dot--group-1 {
  background: #999;
}

.dot.dot--flashing {
  background: pink;
}

.palette {
  position: absolute;
  left: 0;
  top: 0;
  width: 185px;
  height: 580px;
  margin: 20px;
  background: #111;
}

.color-picker {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 185px;
  height: 36px;
}

.color-picker__color {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 8px;
  border-radius: 36px;
  cursor: pointer;
  opacity: 0.5;
}

.color-picker__color--active {
  opacity: 1;
}

.color-picker__color--white {
  background: #fff;
}

.color-picker__color--red {
  background: red;
}

.color-picker__color--yellow {
  background: yellow;
}

.color-picker__color--blue {
  background: blue;
}
