html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.info-sheet {
  position: fixed;
  top: 30px;
  left: 100vw;
  width: 60vw;
  height: calc(100vh - 30px);
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  background: #fff;
  transition: left 100ms;
}

.info-sheet--open {
  left: 40vw;
}

.cv-page__home-link {
  font-size: 10px;
}
