html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Okojo';
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* a:active,
a:focus {
  outline: 2px solid #fff;
} */

.admin-link {
  position: fixed;
  top: 0;
  left: 0;
  color: blue;
}

.main-header h1 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

.more-link {
  position: fixed;
  bottom: 0;
  right: 180px;
  z-index: 9999;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 48px;
  background-color: #000;
  transform: scale(.7);
  transform-origin: bottom;
}

a[id="more-anchor"] {
  position: fixed;
  top: calc(100vh + 600px);
  right: 180px;
}

.main-jag,
.main-footer,
.routing-hub,
.main-content-list {
  float: left;
}

.main-content-box-ref {
  float: left;
  clear: both;
}

.is-admin .routing-hub,
.is-admin .main-jag {
  float: none;
}

.main-jag {
  min-height: 100vh;
}

.main-content-items {
  float: left;
  margin-top: 200px;
}

.hem-boxplatter-splatter-dims {
  position: relative;
  float: left;
  clear: both;
  margin-top: -30px !important;
}

.hem-tilt-tiltor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 40px;
  border-radius: 2px;
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
}

.hem-tilt-tiltor::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  content: " ";
  box-shadow: inset 0px -50px 19px -16px #000000;
}

.main-content-box-text {
  position: absolute;
  z-index: 9999;
}

.main-content-box h3 {
  margin: 20px 0 0 0;
  font-size: 60px;
}

.main-content-box p {
  width: 175px;
  font-family: Avenir;
  font-weight: 100;
  color: #ccc;
}

.main-content-box * {
  border: 0 !important;
}

.main-content-box-key-art {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 90px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0;
  transition: opacity 500ms;
  transform: scale(1.3);
}

.main-content-box-hot .main-content-box-key-art {
  opacity: 1;
}

.main-content-box-hot .main-content-box-key-art-image {
  border-color: #000;
}

.main-content-box-ref:nth-child(1) .main-content-box-key-art {
  bottom: 120px;
  transform-origin: bottom;
}

.main-content-box:nth-child(1) p {
  color: #fff;
}

#main-content-box-hot-extramusicality.main-content-box-hot .main-content-box-key-art,
#main-content-box-demonstration-disc-jag.main-content-box-hot .main-content-box-key-art,
#main-content-box-sound-library-jag.main-content-box-hot .main-content-box-key-art,
#main-content-box-human-ear-music-jag.main-content-box-hot .main-content-box-key-art,
#main-content-box-seurat-desktop-jag.main-content-box-hot .main-content-box-key-art,
#main-content-box-seurat-midi-jag.main-content-box-hot .main-content-box-key-art,
#main-content-box-midst.main-content-box-hot .main-content-box-key-art {
  opacity: 0.2;
}

.main-content-box-key-art-image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  box-shadow: inset 0px -30px 19px -16px #000000;
}

.main-content-filters {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  margin-top: -7px;
  margin-right: -20px;
  padding: 20px;
  background-color: #000;
  transform: rotate(-2deg);
  border-radius: 4px;
}

.main-content-filters-inner {
  margin-top: 30px;
  transform: rotate(2deg);
}

.main-content-filters h3 {
  display: none;
}

.main-content-filters a {
  display: block;
  padding: 0;
  margin-bottom: 15px;
}

.main-content-filters a:hover {
  text-decoration: underline;
}

.main-content-filter-active {
  text-decoration: underline;
}

.main-footer {
  position: relative;
  width: 100vw;
  height: 100px;
  margin: -30px 0 0 0;
  background-color: #000;
}

.main-footer p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
