html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Okojo';
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* a:active,
a:focus {
  outline: 2px solid #fff;
} */

.admin-link {
  position: fixed;
  top: 0;
  left: 0;
  color: blue;
}

.main-header h1 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
}

.more-link {
  position: fixed;
  bottom: 0;
  right: 180px;
  z-index: 9999;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 48px;
  background-color: #000;
  transform: scale(.7);
  transform-origin: bottom;
}

a[id="more-anchor"] {
  position: fixed;
  top: calc(100vh + 600px);
  right: 180px;
  color: red;
}

.main-jag,
.main-footer,
.routing-hub,
.main-content-list {
  float: left;
}

.is-admin .routing-hub,
.is-admin .main-jag {
  float: none;
}

.main-jag {
  min-height: 100vh;
}

.main-content-items {
  float: left;
  margin-top: 200px;
}

.hem-boxplatter-splatter-dims {
  position: relative;
  float: left;
  clear: both;
  margin-top: -30px !important;
}

.hem-tilt-tiltor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 40px;
  border-radius: 2px;
  background-color: #000;
  cursor: pointer;
}

.main-content-box:hover .hem-tilt-tiltor {
  background-color: #111;
}

.main-content-box h3 {
  font-size: 60px;
}

.main-content-filters {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  margin-top: -20px;
  margin-right: -20px;
  padding: 20px;
  background-color: #000;
  transform: rotate(-2deg);
  border-radius: 2px;
}

.main-content-filters-inner {
  margin-top: 30px;
  transform: rotate(2deg);
}

.main-content-filters h3 {
  display: none;
}

.main-content-filters a {
  display: block;
  padding: 0;
  margin-bottom: 15px;
}

.main-content-filters a:hover {
  text-decoration: underline;
}

.main-content-filter-active {
  text-decoration: underline;
}

.main-footer {
  position: relative;
  width: 100vw;
  height: 100px;
  margin: -30px 0 0 0;
  background-color: #000;
}

.main-footer p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
