body {
  font-family: 'Okojo';
  color: #fff;
}

.main-content-items {
  margin-top: 200px;
}

.hem-boxplatter-splatter-dims {
  position: relative;
  float: left;
  clear: both;
  margin-top: -30px !important;
}

.hem-tilt-tiltor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 40px;
  border-radius: 2px;
  background-color: #000;
}

.main-content-box h3 {
  font-size: 60px;
}

.main-content-filters {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  margin-top: -20px;
  margin-right: -20px;
  padding: 20px;
  background-color: #000;
  transform: rotate(-2deg);
  border-radius: 2px;
}

.main-content-filters-inner {
  margin-top: 60px;
  transform: rotate(2deg);
}

.main-content-filters h3 {
  display: none;
}

.main-content-filters a {
  display: block;
  padding: 0;
  margin-bottom: 10px;
}

.main-content-filters a:hover {
  text-decoration: overline;
}

.main-content-filter-active {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 38px;
  text-decoration: overline;
}
