.page-web-biz-landing-page {
  width: 800px;
  min-height: 200px;
  margin: 0 auto;
}

.page-web-biz-landing-page h1 {
  font-size: 100px;
  line-height: 110px;
  font-weight: 600;
  transform: translate(-8px);
  margin: 30px 0;
  padding: 0;
}

.page-web-biz-landing-page h2 {
  margin: 60px 0 40px 0;
  font-size: 40px;
  font-weight: 600;
}

.page-web-biz-landing-page h3 {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.page-web-biz-landing-page nav {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 70px;
}

.page-web-biz-landing-page nav a {
  display: inline-block;
  margin: 0 20px 0 0;
  padding-bottom: 4px;
}

.page-web-biz-landing-page nav a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
}

.page-web-biz-landing-page ul {
  margin: 0;
  list-style-type: square;
  padding: 25px;
}

.page-web-biz-landing-page li {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 32px;
}

.page-web-biz-landing-page p {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 20px 0;
}

.page-web-biz-landing-page img {
  display: block;
  width: 500px;
  height: auto;
  margin: 60px auto;
  border: 1px solid #333;
}

.page-web-biz-landing-page hr {
  display: none;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.page-web-biz-landing-page .hem-contact-form {
  margin-bottom: 50px;
}

.page-web-biz-landing-page .hem-contact-form .form-row {
  margin-bottom: 10px;
}

.page-web-biz-landing-page .hem-contact-form input[name="email"],
.page-web-biz-landing-page .hem-contact-form textarea {
  padding: 0 10px;
  font-size: 16px;
  line-height: 36px;
  font-family: Okojo;
}

.page-web-biz-landing-page .hem-contact-form input {
  width: 600px;
  height: 36px;
}

.page-web-biz-landing-page .hem-contact-form textarea {
  width: 602px;
  height: 200px;
  resize: none;
  padding: 10px;
}

.page-web-biz-landing-page .hem-contact-form button {
  width: 120px;
  height: 36px;
  line-height: 36px;
  margin: 0 30px 0 0;
  font-size: 18px;
  font-weight: normal;
  background-color: #000;
  cursor: pointer;
  border: 0;
  color: #fff;
  user-select: none;
  font-family: Avenir;
}
