@font-face {
  font-family: 'Druk';
  src: url('../static/assets/fonts/Druk-Medium.woff2') format('woff2'),
      url('../static/assets/fonts/Druk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Druk';
  src: url('../static/assets/fonts/DrukCond-Super.woff2') format('woff2'),
      url('../static/assets/fonts/DrukCond-Super.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Druk';
  src: url('../static/assets/fonts/DrukCond-Super.woff2') format('woff2'),
      url('../static/assets/fonts/DrukCond-Super.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('../static/assets/fonts/UniversLTStd-Light.woff2') format('woff2'),
      url('../static/assets/fonts/UniversLTStd-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('../static/assets/fonts/UniversLTStd-Bold.woff2') format('woff2'),
      url('../static/assets/fonts/UniversLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

div#root * {
    box-sizing: content-box;
}

.step-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.9);
}

.step-container-popup {
  position: fixed;
  top: 150px;
  left: 50%;
  width: 1024px;
  height: 570px;
  margin-left: -512px;
  z-index: 99999;
}

.step-container {
  overflow: hidden;
  background-color: #ffffff;
}

.step-slider-container {
  width: 10000px;
  height: 100%;
  transition: all 300ms;
}

.steps-progress {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.steps-progress-item {
  position: relative;
  display: inline-block;
  width: 141px;
  height: 30px;
  margin: 2px;
  line-height: 30px;
  background-color: #000;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Druk', sans-serif;
  letter-spacing: .8px;
  cursor: pointer;
  user-select: none;
  opacity: 0.3;
}

.steps-progress-item-active::after {
  position: absolute;
  display: block;
  top: -14px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -11px;
  content: " ";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #EC0707;
  transform: scaleX(.7);
}

.steps-progress-item-completed {
  opacity: 1;
}

.step-chevron-button {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 30px;
  height: 60px;
}

.step-chevron-button .hem-chevron-button {
  opacity: 0.5;
  background: none;
  transform: scaleY(.6);
  transform-origin: center;
}

.step-chevron-button .hem-chevron-button .hem-chevron-button-icon::after,
.step-chevron-button .hem-chevron-button .hem-chevron-button-icon::before {
  width: 5px;
  background: #000;
}

.step-chevron-button .hem-chevron-button .hem-chevron-button-icon::before {
  top: 45px;
}

.step-chevron-button-left {
  left: 10px;
  transform: scaleX(-1);
}

.step-chevron-button-right {
  right: 10px;
}

.step-container-on-1 .step-slider-container { margin-left: 0 }
.step-container-on-2 .step-slider-container { margin-left: -1024px }
.step-container-on-3 .step-slider-container { margin-left: -2048px }
.step-container-on-4 .step-slider-container { margin-left: -3072px }
.step-container-on-5 .step-slider-container {
  transition: none;
  margin-left: -4096px
}

.step-content {
  float: left;
  width: calc(1024px - 100px);
  height: 570px;
  padding: 50px;
}

.step-content h1 {
  margin: 0 0 20px 0;
  font-family: 'Druk', sans-serif;
  font-size: 43px;
  letter-spacing: .5px;
  text-transform:uppercase;
  font-weight:500;
}

.step-content p {
  font-family: 'Univers', sans-serif;
  font-size: 18px;
  text-transform:uppercase;
}

.step-content.step-1 p {
  margin-bottom: 60px;
}

.step-content.step-1 button {
  display: block;
  width: 254px;
  height: 64px;
  margin: 0 auto 40px auto;
  background: #000;
  font-family: 'Druk', sans-serif;
  font-size: 30px;
  line-height: 64px;
  letter-spacing: .7px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.step-content.step-1 button:focus,
.step-content.step-1 button:active {
  outline: none;
}

.step-color-strip, .step-content.step-1 img.bottom-banner{
  display:none;
}

.skin-tone-options {
  width: calc(149px * 6);
  margin: 50px auto 0 auto;
}

.skin-tone-options .skin-tone-option {
  position: relative;
  float: left;
  width: 149px;
  height: 149px;
  background-size: cover;
  cursor: pointer;
}

.skin-tone-options .skin-tone-option h3 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  font-family: 'Druk', sans-serif;
  letter-spacing: .7px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.shade-options {
  width: 100%;
  margin: 50px auto 0 auto;
  text-align: center;
}

.shade-options .shade-option {
  position: relative;
  display: inline-block;
  width: 149px;
  height: 149px;
  background-size: cover;
  cursor: pointer;
}

.shade-options .shade-option h3 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  font-family: 'Druk', sans-serif;
  letter-spacing: .7px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.undertone-options {
  width: 100%;
  margin: 150px auto 0 auto;
  text-align: center;
}

.undertone-option {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin: 0 70px;
  border: 1px solid #000;
  cursor: pointer;
}

.undertone-option h2 {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 200px;
  margin: 0 0 10px -100px;
  text-align: center;
  font-family: 'Druk', sans-serif;
  letter-spacing: .5px;
  font-weight:500;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 36px;
  
}

.undertone-option-active {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 20px;
  background-color: #f30000;
}

.sub-quiz-cols {
  width: 602px;
  margin: 50px auto 0 auto;
}

.sub-quiz-col {
  float: left;
  height: 200px;
}

.sub-quiz-col.sub-quiz-left {
  width: 300px;
  border-right: 2px solid #000;
}

.sub-quiz-col.sub-quiz-right {
  width: 230px;
  padding-left: 70px;
}

.sub-quiz-col h3 {
  width: 220px;
  margin-top: -10px;
  font-family: Univers, sans-serif;
}

.sub-quiz-question {
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: Univers, sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.sub-quiz-question-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 20px;
  border: 1px solid #000;
  transform: translateX(-5px);
}

.sub-quiz-question-title {
  display: inline-block;
  transform: translateY(-6px);
}

.sub-quiz-question-radio-active {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  margin-top: -8px;
  margin-left: -8px;
  border: 1px solid #000;
  background-color: #f30000;
}

.step-container-popup.step-container-on-5.step-container{
  height:auto;
  overflow-y:visible;
  position:absolute;
} 

.step-content.step-5{
  height:auto;
}

.solution-layout-row{
  display:flex;
}
.solution-product.solution-product-foundation{
  width:33%;
}

.solution-hero{
  width:67%;
  display:flex;
  align-items: stretch;
  height:fit-content;
}

.solution-hero-pic{
  width:50%;
  overflow:hidden;
}

.solution-hero-pic img{
  max-width: 100%;
  height: 100%;
  width: max-content;
}

.solution-hero-text{
  width:50%;
  background:#000;
  color:#fff;
  padding: 1.5625rem;
}

.solution-hero-text h2{
  font-family: Druk,Arial,sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform:uppercase;
  letter-spacing: .7px;
  margin-top:0;
}

.solution-hero-text h3{
  font-family: Druk,Arial,sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform:uppercase;  
  letter-spacing: .7px;
}

.solution-hero-text p{
  font-family: Univers,Arial,sans-serif;
  font-size: 0.875rem;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom:0;
  
}

.product-tile{
  font-family: Univers,Arial,sans-serif;
  font-size: 0.875rem;
  width: 100%;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 450px;
  padding: 1.875rem 10px;
  margin: 0 auto;
  text-align: center;    
  max-height: 100%;
  max-width: 100%;
}

.solution-product.solution-product-foundation .product-tile{
  width:100%;
  padding:0;
}

.product-tile img{
  max-width: 100%;
}

.product-tile:hover img{
  opacity:.9;
}

.product-tile .product-title{
  margin: 1.25rem 0 0;
  font-family: Univers;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  height:45px;
}

.product-tile:hover .product-title{
  color:#d3000d;
}

.product-tile .product-subtitle{
  font-weight: 500;
  text-transform: none;
  margin: 0;
  font-size: 14px;
}

.product-tile .product-price{
  padding: 7px 0;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

.product-tile .product-reviews{
  display:none;
}

.product-tile .product-cta button{
  display: block;
  width: auto;
  max-width: 130px;
  height: 45px;
  line-height: 45px;
  margin: 10px auto 50px;
  padding: 0 30px;
  background: #000;
  letter-spacing: .02em;
  color: #fff;
  text-transform: uppercase;
  font-family: Druk,Arial,sans-serif;
  font-weight: bold;
  font-size: 1.625rem;
  border: none;
}

.product-tile .product-cta button:hover{
  color:#d3000d;
}

@media screen and (max-width: 480px) {
  .step-container-popup {
    width: 380px;
    height: 100%;
    margin-left: -190px;
    top:80px;
  }

  .step-container-on-1 .step-slider-container { margin-left: 0 }
  .step-container-on-2 .step-slider-container { margin-left: -380px }
  .step-container-on-3 .step-slider-container { margin-left: -760px }
  .step-container-on-4 .step-slider-container { margin-left: -1140px }

  .step-content {
      width: calc(380px - 50px);
      height: auto;
      padding: 25px;
  }

  .step-chevron-button{
    position:fixed;
    top:auto;
    bottom:40px;
    z-index:10;
  }

  .steps-progress{
    width: 30px;
    bottom: auto;
    right: 8px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  .steps-progress-item{
    width: 40px;
    display: block;
    float: right;
    clear: both;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 6px 4px;
    border: 1px solid #000;
    cursor: pointer;
    background: white;
    font-size: .001px;
  }

  .steps-progress-item-active::after {
    display:none;
  }

  .steps-progress-item-active{
    background-color: #f30000;
  }

  .step-content h1 {
    margin-left:20px;
    margin-right:20px;
  }
  .step-content p{
    margin-left:20px;
    margin-right:20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .7px;
  }

  .step-color-strip{
    position:absolute;
    display:block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height:150px;
    width:15px;
    background-color:#000;
  }

  .step-container-on-1 .step-color-strip{
    background-color:#ca93c7;
  }

  .step-container-on-2 .step-color-strip{
    background-color:#58c4b7;
  }

  .step-container-on-3 .step-color-strip{
    background-color:#ffaf5b;
  }

  .step-container-on-4 .step-color-strip{
    background-color:#f6e85f;
  }

  .step-container-on-5 .step-color-strip{
    background-color:#58c4b7;
  }

  .skin-tone-options, .shade-options{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    justify-content: center;
  }

  .skin-tone-options .skin-tone-option, .shade-options .shade-option{
    width:140px;
    height:140px;
    margin:5px;
  }

  .undertone-options {
    text-align: right;
    margin-top:110px;
  }

  .undertone-option {
    display: block;
    margin: 30px 0 22px;
  }

  .undertone-option h2 {
    position: relative;
    bottom: auto;
    left: auto;
    width: 300px;
    margin: -5px 0 5px 55px;
    text-align: left;
  }

  .step-content.step-1 img.bottom-banner{
    width: calc( 100% + 50px);
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 90px;
    bottom: 0;
    position: relative;
    display:block;
  }

  .step-content.step-2 p, .step-content.step-2 h3, .step-content.step-3 p, .step-content.step-3 h3{
    display:none;
  }
  
  .sub-quiz-col{
    padding-left:20px;
  }
  
  .sub-quiz-col.sub-quiz-right{
    clear:both;
    padding-left:20px;
    margin-top:40px;
    width:auto;
  }
  
  .sub-quiz-col.sub-quiz-left{
    border-right:0;
  }
  
  .sub-quiz-col h3{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .7px;
  width:280px;
  }
  
  .sub-quiz-question-title{
    font-family: 'Druk', sans-serif;
    letter-spacing: .5px;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .sub-quiz-question {
      height: 25px;
      line-height: 30px;
    }
  .sub-quiz-question-title {
      transform: translateY(3px);
  }

  /* Cheat Vertical Centering to be improved */
  .skin-tone-options{
    margin-top:0;
   }
  .shade-options{
    margin-top:80px;
  }
  .step-content.step-1 p{
    margin-bottom:50px;
  }
}
