.app-is-home .main-content {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.app-is-home .main-content-list {
  width: 1080px;
  margin: -100px auto 0 auto;
}

.app-is-home .main-content-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.app-is-home .main-content-box {
  float: none !important;
  max-width: 320px;
  vertical-align: top;
  margin-bottom: 80px;
  flex: 0 0 33.333333%;
}

.app-is-home .main-content-box h3 {
  width: 300px;
  font-size: 50px;
}

.app-is-home .main-content-box p {
  width: 300px;
}

.main-content-box-actions {
  width: auto;
}

.app-is-home .main-content-box:first-child .main-content-box-badge,
.app-is-home .main-content-box:nth-child(2) .main-content-box-badge,
.app-is-home .main-content-box-badge {
  top: -40px !important;
}

/* .app-is-home .main-content-box-actions {
  top: -60px;
  right: 10px;
}

.app-is-home .main-content-box-actions .hem-player-track-play-pause-button {
  margin-left: 5px;
}

.app-is-home .main-content-box-actions .hem-player-track-play-pause-button,
.app-is-home .main-content-box-actions .hem-play-pause-button {
  width: 30px;
  height: 30px;
}

.app-is-home .hem-play-pause-button-icon {
  transform: scale(0.6);
}

.app-is-home .main-content-box-actions .action-button {
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
} */
