.program-popup {
  position: fixed;
  top: 30px;
  left: 50px;
  right: 50px;
  z-index: 99999999;
  height: 570px;
  padding: 30px 50px 50px 50px;
  background-color: #000;
  text-align: left;
  border-top: 1px solid #333;
  color: #fff;
}

.program-popup h2 {
  font-family: Avenir;
  font-weight: 100;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.program-popup h3 {
  font-family: Avenir;
  font-weight: 100;
}

.program-popup p {
  font-family: Avenir;
  font-size: 16px;
  line-height: 32px;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 30px;
}
