.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  height: 30px;
  user-select: none;
  background-color: #000;
  overflow: hidden;
}

.top-bar * {
  user-select: none;
}

.top-bar .logo {
  margin: 0;
  font-size: 65px;
  color: #fff;
  line-height: 37px;
}
