.zw-clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.zw-plus-left {
  display: inline-block;
  position: relative;
  text-indent: 14px;
}

.zw-plus-left::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  margin-top: -6px;
  font-size: 16px;
  line-height: 10px;
  text-indent: 0;
  content: "+";
}

.zw-layout-container {
  max-width: 1330px;
  margin: 0 auto;
  padding-top: 60px;
}

.zw-layout-container,
.zw-layout-container * {
  box-sizing: border-box !important;
  font-family: proxima-nova, sans-serif;
}

.zw-widget {
  width: 100vw;
  min-height: 550px;
}

.zw-layout {
  margin: 0 25px;
}

.zw-section {
  float: left;
  width: calc(50% - 12.5px);
}

.zw-section-left {
  margin-right: 12.5px;
}

.zw-main-image {
  margin-bottom: 10px;
}

.zw-main-image img {
  display: block;
  width: 100%;
  height: auto;
}

.zw-description {
  font-size: 14px;
  line-height: 18px;
}

.zw-description p {
  margin: 0;
}

.zw-section-right {
  margin-left: 12.5px;
}

.zw-product-options {
  width: calc(100% - 140px);
  max-width: 450px;
  margin-left: 80px;
}

.zw-product-options h2 {
  margin: 40px 0 5px 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: bold;
}

.zw-product-options h3 {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .3px;
  font-weight: bold;
}

.zw-product-options h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: .3px;
  color: #888;
}

.zw-swatch-picker h5 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

.zw-swatch-picker ul {
  height: 30px;
  margin: 0 0 22px 0;
  padding: 0;
  list-style-type: none;
}

.zw-swatch-picker ul li {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding-bottom: 10px;
  box-sizing: content-box !important;
}

.zw-swatch-picker ul li .zw-swatch-picker-item-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  background-size: 30px 30px;
  background-position: center center;
}

.zw-swatch-picker-item-active {
  border-bottom: 1px solid #333;
}

.zw-primary-picker {
  height: 47px;
  margin-bottom: 20px;
}

.zw-lens-picker {
  height: 54px;
  margin-bottom: 30px;
}

.zw-lens-picker .zw-swatch-picker ul li {
  width: 17px;
  height: 17px;
}

.zw-lens-picker .zw-swatch-picker ul li .zw-swatch-picker-item-image {
  width: 17px;
  height: 17px;
  border-radius: 17px;
}

.zw-option-row {
  height: 57px;
  margin-bottom: 20px;
  font-size: 14px;
}

.zw-last-option-row {
  margin-bottom: 10px;
}

.zw-option-row-label {
  margin-bottom: 3px;
  font-size: 12px;
  color: #8d8d8d;
}

.zw-custom-select {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 220px;
  height: 36px;
  line-height: 36px;
  text-indent: 10px;
  border: 1px solid #333;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
}

.zw-custom-select::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  content: " ";
  transform: scaleX(.9) scaleY(1.7);
}

.zw-selected-value {
  transform: translateY(-1px);
}

.zw-custom-select .zw-select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 9999;
  width: calc(100% + 2px);
  border: 1px solid #333;
  box-sizing: border-box;
  background: #fff;
}

.zw-custom-select-open .zw-select-options {
  display: block;
}

.zw-custom-select .zw-select-options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.zw-option-row .zw-option-action {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  transform: translateY(-2.5px);
}

.zw-option-row .zw-option-action a {
  cursor: pointer;
}

.zw-option-row .zw-option-action a:hover {
  color: #000;
}

.zw-total-row {
  height: 60px;
  line-height: 60px;
  margin-bottom: 15px;
}

.zw-total-row div {
  display: inline-block;
}

.zw-total-row .zw-total {
  width: 50px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
}

.zw-total-row .zw-add-on {
  font-size: 14px;
  cursor: pointer;
  transform: translateY(-.5px);
}

.zw-total-row .zw-add-on-button {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  padding: 0;
  border-radius: 14px;
  border: 1px solid #000;
  background: transparent;
}

.zw-total-row .zw-add-on-button:focus,
.zw-total-row .zw-add-on-button:active {
  outline: none;
}

.zw-total-row .zw-add-on-button-active {
  background: #fff;
}

.zw-total-row .zw-add-on-button-active::after {
  display: block;
  content: " ";
  top: 1px;
  left: 1px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #000;
}

.zw-total-row .zw-add-on-label {
  display: inline-block;
  transform: translateY(-1px);
}

.zw-submit-row {
  margin-top: 10px;
}

.zw-submit-row button,
#zw-upload-rx-button {
  display: block;
  width: 160px;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

.zw-upload-rx-button-form {
  width: 160px;
  height: 40px;
  margin: 0 0 20px 0;
}

.zw-submit-row .zw-submit-button {
  background: #000;
  color: #fff;
}

.zw-submit-row .zw-submit-button:hover {
  background: #6f6f6f;
}

#zw-upload-rx-button {
  position: relative;
  border: 1px solid #000;
}

#zw-upload-rx-button-text {
  display: inline-block;
  transform: translateY(-2px);
}

#zw-upload-rx-button:hover {
  background: #000;
  color: #fff;
}

#zw-upload-rx-input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 40px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.zw-fit-guide-link {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.zw-fit-guide-link:hover {
  color: #000;
}

.zw-more-info-link {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.zw-more-info-link:hover {
  color: #000;
}

.zw-patient-info {
  font-size: 14px;
}

@media only screen and (max-width: 800px) {
  .zw-section {
    position: static;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .zw-product-options {
    width: 100%;
    margin-left: 0;
  }
}
