html,
body {
  margin: 0;
  padding: 0;
}

.triptych-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
}

.triptych__panel {
  position: relative;
  float: left;
  /* overflow: hidden; */
}

.triptych__panel--left {
  width: 50vw;
  height: 100vh;
}

.triptych__panel--top {
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 0;
  right: 0;
  z-index: 9998;
}

.triptych__panel--bottom {
  position: fixed;
  width: 50vw;
  height: 50vh;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.triptych__panel--left-overlay,
.triptych__panel--top-overlay {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.triptych img {
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 100ms;
  width: 100%;
  height: auto;
  transform: scale(0.75);
  transform-origin: top center;
}

.triptych__panel--left img {
  transform: scale(0.8);
}