#sound-library-refresh-popup .hem-popup-content {
  width: 900px;
  margin-left: -450px;
}

.sound-library-refresh-popup {
  background-color: #222;
  border-radius: var(--hem-border-radius);
  overflow: hidden;
  min-height: 1500px;
}