html,
body {
  margin: 0;
  padding: 0;
}

.page--demo-movies {
  width: 100vw;
  background: black;
}

.theater {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.theater .theater__loading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.theater--tree .theater__projector {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 540px;
  margin-top: -270px;
  margin-left: -200px;
}

.theater--tree img {
  width: 400px;
  height: auto;
}

.theater--puddle .theater__projector-set {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1050px;
  height: 262px;
  margin-top: -131px;
  margin-left: -525px;
  transform: scale(1.2);
}

.theater--puddle .theater__projector {
  position: relative;
  float: left;
  width: 350px;
  height: 262px;
}

.theater--puddle .flip-book {
  width: 262px;
  height: 350px;
  margin: 0 auto;
  transform: rotate(-90deg) translateX(44px);
  transform-origin: center center;
}

.theater--puddle .theater__projector--puddle-right .flip-book {
  transform: rotate(90deg) translateX(-44px);
}

.theater--puddle img {
  width: 262px;
  height: 350px;
}

.theater--puddle-overlay .theater__projector-set {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 375px;
  margin-top: -250px;
  margin-left: -250px;
  transform: scale(1.5);
}

.theater--puddle-overlay .theater__projector {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 375px;
}

.theater--puddle-overlay .flip-book {
  width: 375px;
  height: 500px;
  margin: 0 auto;
  transform: rotate(-90deg) translateX(44px);
  transform-origin: center center;
}

.theater--puddle-overlay .theater__projector--puddle-center .flip-book {
  opacity: 0.5;
}

.theater--puddle-overlay img {
  width: auto;
  height: 500px;
}

.theater--puddle-overlay .theater__projector--puddle-center img {
  transition: opacity 100ms;
}

.theater--hall .theater__projector-set {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 375px;
  height: 500px;
  margin-top: -250px;
  margin-left: -187.5px;
  transform: scale(1.3);
}

.theater--hall .theater__projector {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 500px;
}

.theater--hall img {
  width: auto;
  height: 500px;
  transition: opacity 50ms;
}

.theater--hall .theater__projector--hall-overlay img {
  transition: opacity 150ms;
}

.theater--field .theater__projector-set {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin-top: -300px;
  margin-left: -400px;
}

.theater--field .theater__projector {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
}

.theater--field .flip-book {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.theater--field .theater__projector--field-overlay .flip-book {
  opacity: 0.5;
}

.theater--field img {
  width: 800px;
  height: auto;
}

.theater--field .theater__projector--field-overlay img {
  transition: opacity 100ms;
}

.theater--cta .theater__projector-set {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 800px;
  margin-top: -400px;
  margin-left: -300px;
  transform: scale(0.7);
}

.theater--cta .theater__projector {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 800px;
}

.theater--cta .flip-book {
  width: 600px;
  height: 800px;
  margin: 0 auto;
}

.theater--cta .theater__projector:nth-child(2) .flip-book {
  opacity: 0.5;
}

.theater--cta img {
  width: 600px;
  height: auto;
}

.theater--cta .theater__projector:nth-child(2) img {
  transition: opacity 100ms;
}