html,
body {
  margin: 0;
  padding: 0;
}

.page--demo-movies {
  width: 100vw;
  height: 100vh;
  background: black;
}

.theater__projector--tree {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -270px;
  margin-left: -200px;
}

.theater__projector--tree img {
  width: 400px;
  height: auto;
}
