/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.scroll-lock-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hem-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
}

.hem-popup-container-open {
  opacity: 1;
  pointer-events: all;
}

.hem-popup-content {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 800px;
  height: 600px;
  margin-left: -400px;
  padding: 0;
}

:root {
  --line-orange: #fa563c;
  --line-orange-light: #fa8573;
  --light-gray: #cac9c9;
  --nice-blue: #3535e6;
  --exclusive-purple: #e035e6;
}

.is-admin .scroll-lock-container {
  background-color: #fff;
}

.page-admin {
  color: #000;
}

.page-admin h1 {
  margin: 30px 0 25px 0;
  min-height: 76px;
  line-height: 84px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 100;
  color: var(--line-orange);
}

.page-admin .admin-subnav {
  margin-bottom: 0;
}

.page-admin .admin-subnav li a.active {
  border-bottom: 4px solid #000;
}

.admin-list-controls {
  position: relative;
  padding: 20px;
  height: 30px;
  line-height: 30px;
  background: #efefef;
}

.admin-list-controls-dark {
  background: #ccc;
}

.admin-list-controls-system .action-button {
  line-height: 32px;
  height: 32px;
  font-size: 16px;
}

.admin-list-stats {
  padding: 20px 25px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.admin-list-controls label {
  float: left;
  margin-right: 10px;
  font-size: 14px;
}

.admin-list-controls-select-all,
.admin-list-controls-select,
.admin-list-controls-search {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
}

.admin-list-controls-search {
  margin-right: 0;
}

.admin-list-controls-select {
  position: relative;
}

.custom-select,
.inline-edit-form select,
.admin-list-controls-select select {
  float: left;
  width: 200px;
  height: 32px;
  padding: 0 10px;
  margin: 0 20px 0 0;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.admin-select-searchable-field {
  width: 75px;
  margin-right: 5px;
}

.custom-select:active,
.custom-select:focus,
.inline-edit-form select:active,
.inline-edit-form select:focus,
.admin-list-controls-select select:active,
.admin-list-controls-select select:focus {
  outline: none;
}

.admin-list-controls-select .hem-play-pause-button {
  position: absolute;
  top: -14px;
  right: 4px;
  background-color: transparent;
  transform: rotate(90deg) scale(0.3);
  filter: invert(1);
  pointer-events: none;
}

.admin-list-controls-search input,
.admin-list-controls-mass-tag input {
  float: left;
  width: 600px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 10px;
  margin: 0;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none !important;
  border: 1px solid #ccc;
}

.admin-list-controls-mass-tag button {
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
}

.admin-list-controls-search input:active,
.admin-list-controls-search input:focus {
  outline: none;
}

.admin-main-content {
  width: 1088px;
  margin: 0 auto;
}

.admin-list table {
  width: 100%;
}

.admin-list table a {
  color: inherit;
}

.admin-list th,
.admin-list td {
  height: 50px;
  text-align: left;
}

.admin-list td {
  vertical-align: top;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.admin-list tr:first-child td {
  border-top: 1px solid #ddd;
}

.admin-list td a {
  text-decoration: none;
}

.admin-list-column-check {
  width: 50px;
  padding-left: 10px;
}

.admin-list-column-thumbnail {
  width: 100px;
  height: 100px;
}

.admin-list-column-thumbnail img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.admin-list-column-date,
.admin-list-column-category {
  width: 150px;
}

.admin-list-column-order input {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #eee;
  text-align: center;
}

.admin-list-column-actions {
  width: 210px;
}

.admin-list-column-actions button {
  float: right;
  width: 120px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 10px 10px;
  transform: translateX(3px);
  font-size: 14px;
  font-weight: 600;
}

.admin-list-column-actions button:last-child {
  margin-left: 0;
}

.admin-item {
  width: 100%;
}

.admin-item-header {
  position: relative;
  height: 100px;
  line-height: 100px;
}

.admin-item-header h2 {
  display: inline-block;
  margin: 3px 0 0 0;
  padding: 0;
  font-size: 40px;
  font-weight: normal;
  vertical-align: middle;
}

.admin-item-key-art {
  float: left;
}

.admin-item-key-art img {
  width: 400px;
  height: auto;
}

.admin-item-header button {
  position: absolute;
  top: 33px;
  right: 0;
  margin-right: 0;
}

.admin-item-header .publish-item-button {
  position: absolute;
  top: 33px;
  right: 140px;
  margin-right: 0;
}

.admin-item-header button:disabled {
  background-color: #ccc;
  pointer-events: none;
}

.admin-item td {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background: #efefef;
}

.admin-item label {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 50px;
  font-weight: bold;
}

.admin-item input,
.admin-item textarea {
  display: inline-block;
  width: 750px;
  height: 30px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.admin-item select {
  display: inline-block;
  width: 790px;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.admin-item input:focus,
.admin-item textarea:focus {
  outline: none;
}

.admin-item input {
  line-height: 40px;
}

.admin-item input[disabled] {
  background-color: #ccc;
}

.admin-item textarea {
  width: calc(100vw - 280px);
  padding: 100px;
  resize: none;
}

.admin-manual-task-runner {
  width: 960px;
  margin: 40px auto 0 auto;
}

.admin-manual-task-runner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.admin-manual-task-runner li {
  margin-bottom: 20px;
}

.admin-manual-task-runner a {
  text-decoration: none;
  color: inherit;
}

.admin-manual-task-runner div {
  margin-bottom: 20px;
}

.small-action-button {
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  background-color: gray;
}

.small-action-button-active {
  background-color: var(--line-orange);
}

.inline-edit-form {
  float: right;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -3px;
}

.first-inline-edit-form {
  margin-top: 10px;
}

.last-inline-edit-form {
  margin-bottom: 10px;
}

.inline-edit-form label {
  float: left;
  clear: both;
}

.inline-edit-form label > span {
  float: left;
  width: 55px;
  height: 32px;
  line-height: 32px;
}

.inline-edit-form input {
  float: left;
  width: 527px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 10px;
  margin: 0;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none !important;
  border: 1px solid #ccc;
}

.inline-edit-form button {
  display: none;
}

.admin-list-column-thumbnail audio {
  margin-top: 10px;
  background-color: #f1f3f4;
}

.admin-subnav {
  position: sticky;
  top: 30px;
  z-index: 999;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-weight: 600;
  background-color: #fff;
  background-color: var(--line-orange);
}

.admin-subnav ul {
  margin: 0 0 0 10px;
  padding: 0;
  list-style-type: none;
}

.admin-subnav li {
  display: inline-block;
  margin-right: 20px;
}

.admin-subnav li a {
  color: inherit;
  text-decoration: none;
}

.admin-subnav li a.active {
  border-bottom: 3px solid #000;
}

.action-button,
.action-button a {
  width: 120px;
  height: 36px;
  line-height: 36px;
  margin: 0 30px 0 0;
  font-size: 18px;
  font-weight: normal;
  background-color: var(--line-orange);
  cursor: pointer;
  border: 0;
  color: #fff;
  user-select: none;
  font-family: Avenir;
}

.action-button:active,
.action-button a:active {
  background-color: #999;
}

.admin-list-deploy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16777271;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
}

.admin-list-deploy-spinner .hem-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}

.admin-program-content {
  background-color: #ccc;
}

.admin-program-column {
  float: left;
  width: 509px;
  padding: 20px;
}

.admin-program-column h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

.admin-program-box {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  border-radius: 3px;
}

/* .admin-program-months {
  height: calc(100vh - 320px);
  overflow: scroll;
} */

.admin-program-months .admin-program-box {
  height: 30px;
  padding: 0;
  line-height: 30px;
  cursor: pointer;
}

.admin-program-months .admin-program-box h3 {
  padding: 0 10px;
  cursor: pointer;
}

.admin-program-months .admin-program-box .admin-program-box-content {
  display: none;
}

.admin-program-box-content {
  display: none;
}

.admin-program-months .admin-program-box-open {
  height: auto;
  min-height: 200px;
  padding: 10px;
  cursor: auto;
}

.admin-program-months .admin-program-box-open .admin-program-box-content {
  display: block;
}

.admin-program-months .admin-program-box-open h3 {
  padding: 0;
  line-height: 10px;
  margin-bottom: 15px;
}

.admin-program-box-toggle {
  position: absolute;
  top: 0;
  right: 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.admin-program-items-new {
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: transparent;
}

.admin-program-items-new-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.admin-program-items-new h3 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
}

.admin-program-items-new form > div {
  display: inline-block;
}

.admin-program-items-new label,
.admin-program-items-new input {
  display: inline-block;
  margin: 0 10px;
}

.admin-program-items-new label {
  display: none;
  margin-bottom: 5px;
}

.admin-program-items-new input {
  width: 485px;
  height: 34px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ccc;
}

.admin-program-items-new .custom-select {
  float: none;
  display: inline-block;
  width: 200px;
  height: 38px;
  margin: 0 10px;
}

.admin-program-items-new button {
  height: 38px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin: 0 10px;
  font-size: 14px;
}

.admin-program-devas {
  height: 445px;
  background-color: #000;
  border-radius: 3px;
  margin-bottom: 10px;
}

.admin-program-item {
  display: block;
  position: relative;
  line-height: 20px;
}

.admin-program-item b {
  display: inline-block;
  width: 100px;
  color: #eee;
  background-color: #333;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 13px;
  margin-right: 15px;
  text-align: center;
}

.admin-program-item::after {
  display: block;
  position: absolute;
  top: 4px;
  right: 5px;
  content: "⚑";
  font-size: 24px;
}

.admin-program-state-invited::after {
  color: purple;
}

.admin-program-state-wish-list::after {
  color: pink;
}

.admin-program-state-needs-permission::after {
  color: red;
}

.admin-program-state-available::after {
  color: green;
}

.admin-program-state-send-invite-soon::after {
  color: yellow;
}

.admin-program-state-needs-production::after {
  color: white;
}

.player-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  width: 100vw;
  width: 60px;
  height: 60px;
  background-color: #000;
  overflow: hidden;
  user-select: none;
}

.player-bar * {
  user-select: none;
}

.player-bar-expanded {
  width: 100vw;
  overflow: visible;
}

.player-bar-playback-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
}

.player-bar .hem-previous-button,
.player-bar .hem-next-button,
.player-bar .hem-play-pause-button,
.player-bar-main-play-button {
  float: left;
  background-color: #000;
  box-sizing: border-box;
  border-right: 1px solid #666;
  border-top: 1px solid #666;
}

.player-bar-main-play-button {
  border: 0;
}

.player-bar .hem-previous-button .hem-next-button {
  border-right: 0;
}

.player-bar-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.player-bar-toggle .hem-play-pause-button {
  border: 0;
}

.player-bar-expanded .player-bar-toggle {
  border-left: 1px solid #666;
  border-top: 1px solid #666;
}

.player-bar-toggle .hem-close-button-icon {
  transform: scale(.5);
}

.player-bar-toggle .hem-play-pause-button {
  margin-left: 0;
  background-color: #000;
}

.player-bar .player-bar-now-playing {
  position: absolute;
  left: 180px;
  top: 0;
  width: calc(100vw - 301px);
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  border-top: 1px solid #666;
  text-indent: 20px;
  color: #eee;
  pointer-events: none;
  text-align: center;
}

.player-bar .player-bar-now-playing a {
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  pointer-events: all;
}

.hem-player-play-pause-button-spinner {
  width: 60px;
  height: 60px;
}

.hem-player-play-pause-button .hem-spinner {
  position: relative;
  float: left;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  width: 59px;
  height: 60px;
  background-color: #000;
  cursor: pointer;
}

.hem-player-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
}

.hem-player-progress-bar {
  position: absolute;
  left: 181px;
  top: 0;
  width: calc(100vw - 301px);
  height: 60px;
  box-sizing: border-box;
  background: #222;
  cursor: pointer;
}

.hem-player-progress-bar-meter {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #444;
  cursor: pointer;
}

.playlist-toggle {
  position: absolute;
  right: 60px;
  top: 0;
  width: 60px;
  height: 60px;
  border-left: 1px solid #666;
  border-top: 1px solid #666;
  box-sizing: border-box;
  overflow: hidden;
}

.playlist-toggle-close {
  transform: scale(0.7) translateY(15px);
  transform-origin: center;
}

.playlist-toggle .hem-play-pause-button {
  border: 0;
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9) translateY(1.5px);
}

.playlist-toggle .hem-hamburger-button-icon {
  transform: scale(1.1) translateY(1px);
}

.player-bar-playlist {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100vw;
  height: 445px;
  background: #222;
  border-top: 1px solid #fff;
}

.player-bar-playlist ul {
  width: 100vw;
  height: 366px;
  margin: 0;
  padding: 0;
}

.player-bar-playlist ul.hem-player-playlist-table-header {
  height: 32px;
}

.player-bar-playlist ul.hem-player-playlist-table-header div {
  font-weight: 400;
  font-size: 12px;
  color: #666;
}

.player-bar-playlist li {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #666;
  color: #aaa;
  font-size: 13px;
  cursor: pointer;
  padding-left: 40px;
}

/* .player-bar-playlist ul:not(.hem-player-playlist-table-header) li:last-child {
  border: 0;
} */

.hem-player-playlist-line-active {
  background-color: #666;
}

.player-bar-playlist li .hem-play-pause-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 32px;
  transform-origin: top left;
  border: 0;
  background: transparent;
}

.player-bar-playlist li a {
  text-decoration: none;
  color: inherit;
}

.player-bar-playlist li .hem-play-pause-button-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  transform: scale(0.4) translateX(7px);
  transform-origin: center;
}

.player-bar-playlist li .hem-play-pause-button-icon::after {
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #fff;
}

.hem-player-track-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}

.player-bar-playlist li .hem-play-pause-button-playing .hem-play-pause-button-icon {
  transform: scale(.3) translateX(10px);
}

.hem-player-playlist-line-text {
  position: absolute;
  top: 0;
  left: 45px;
  width: calc(100vw - 60px);
  height: 32px;
  pointer-events: none;
}

.hem-player-playlist-line-title {
  float: left;
  width: 400px;
}

.hem-player-playlist-line-text-more {
  left: 0;
  width: 100vw;
  text-align: center;
  font-weight: 500;
  text-indent: 15px;
  color: #ccc;
  pointer-events: all;
  background-color: #333;
}

.hem-player-playlist-line-attribution {
  float: left;
  width: 300px;
  text-decoration: none;
  color: inherit;
}

.hem-player-playlist-line-secondary-attribution {
  float: left;
  width: 150px;
  text-decoration: none;
  color: inherit;
}

.hem-player-playlist-line-attribution a,
.hem-player-playlist-line-secondary-attribution a {
  pointer-events: all;
}

.hem-player-playlist-line-attribution a:hover,
.hem-player-playlist-line-secondary-attribution a:hover {
  text-decoration: underline;
}

.hem-player-playlist-line-date,
.hem-player-playlist-line-duration {
  float: right;
  text-align: right;
  width: 150px;
}

.hem-player-playlist-line-share {
  float: right;
  text-align: center;
  width: 150px;
}

.hem-player-playlist-line-share-clickable-area {
  display: inline-block;
  width: 50px;
  pointer-events: all;
}

.hem-player-playlist-line-share-trigger,
.hem-player-playlist-line-share-trigger::before,
.hem-player-playlist-line-share-trigger::after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ccc;
}

.hem-player-playlist-line-share-trigger {
  display: none;
  position: relative;
  transform: scale(0.3) translateY(3px);
}

.hem-player-playlist li:hover .hem-player-playlist-line-share-trigger {
  display: inline-block;
}

.hem-player-playlist-line-share-trigger::before {
  display: block;
  position: absolute;
  top: 0;
  left: -17px;
  content: " ";
}

.hem-player-playlist-line-share-trigger::after {
  display: block;
  position: absolute;
  top: 0;
  right: -17px;
  content: " ";
}

.hem-player-playlist-line-share-menu {
  position: absolute;
  top: -46px;
  left: 100%;
  width: 100px;
  height: 100px;
  background-color: #000;
  border: 1px solid #ccc;
}

.hem-player-playlist-line-no-info {
  color: #444;
}

.hem-player-playlist-tabs {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  color: #eee;
  background-color: #111;
  border-bottom: 1px solid #666;
}

.hem-player-playlist-tab {
  float: left;
  padding: 0 20px;
  cursor: pointer;
}

.hem-player-playlist-active-tab {
  padding: 0 20px;
  background-color: #666;
}

.hem-player-playlist-tab-empty {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100vw;
  height: 298px;
  line-height: 298px;
  text-align: center;
  color: #777;
}

.hem-player-playlist-window-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.hem-player-playlist-window-controls .playlist-toggle-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transform: scale(0.4);
  transform-origin: center;
}

.hem-player-playlist-window-controls .hem-play-pause-button {
  float: left;
  width: 50px;
  height: 50px;
  background: transparent;
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9) translateY(1.5px);
  transform-origin: center;
  border: 0;
}

.player-message {
  position: relative;
}

.player-message input {
  position: absolute;
  opacity: 0;
}

.player-message button {
  width: 300px;
  height: 100px;
  border: 0;
  font-size: 30px;
  color: #fff;
  font-family: Avenir;
  background-color: transparent;
  cursor: pointer;
}

.player-message button:active,
.player-message button:focus {
  outline: none;
}

.hem-player-progress-bar-meter-start-time,
.hem-player-progress-bar-meter-end-time {
  position: absolute;
  top: 5px;
  height: 60px;
  line-height: 60px;
  color: #777;
  width: 100px;
  height: 20px;
  z-index: 9999;
  font-size: 10px;
}

.hem-player-progress-bar-meter-start-time {
  left: 10px;
}

.hem-player-progress-bar-meter-end-time {
  right: 10px;
  text-align: right;
}

.detail-popup {
  height: 100%;
}

.detail-popup .ScrollbarsCustom-Wrapper[style] {
  right: 0 !important;
}

#detail-popup .hem-popup-content,
#detail-popup-hidden-purchase-form .hem-popup-content {
  top: 50px;
  width: 1100px;
  margin-left: -550px;
  height: calc(100vh - 20px);
}

.detail-popup header {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 15px;
  overflow: hidden;
}

.detail-popup-purchase-form-hidden header {
  position: relative;
  height: 190px;
}

.detail-popup header .detail-popup-key-art-image {
  width: 100%;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
}

.detail-popup header .detail-popup-header-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 20px 40px 20px;
}

.detail-popup header h1 {
  width: 1000px;
  line-height: 57px;
  margin: 5px 0 15px 10px;
  padding: 0;
  font-weight: normal;
  font-size: 80px;
  text-transform: uppercase;
  color: var(--line-orange);
}

.detail-popup header h2 {
  width: 760px;
  min-height: 24px;
  margin: 0 0 10px 20px;
  padding: 0;
  font-size: 12px;
  color: #666;
}

.detail-popup-actions {
  position: absolute;
  bottom: 50px;
  right: 60px;
  width: 390px;
  padding-bottom: 40px;
  background-color: #000;
  text-align: center;
}

.purchase-form-spinner {
  position: relative;
  width: 200px;
  height: 50px;
}

.detail-popup-form {
  position: relative;
  width: 390px;
}

.detail-popup header .flex-pricing-type-input input,
.suggested-price-label,
.detail-popup header .flex-pricing-type-input small {
  display: block;
  margin-bottom: 5px;
}

.detail-popup header .suggested-price-label {
  display: inline-block;
  margin: 20px 0 5px 0;
  padding: 0 10px;
  font-size: 14px !important;
  transform: translateY(-15px);
  color: #fff;
  line-height: 32px;
}

.detail-popup header .flex-pricing-type-input input {
  display: inline-block;
  width: 280px;
  height: 50px;
  padding: 0 10px 0 10px;
  border: 1px solid #666;
  box-sizing: border-box;
  font-size: 24px;
  background-color: #000;
  color: #fff;
  font-family: Avenir;
  text-align: center;
}

.detail-popup header .flex-pricing-type-input input:focus,
.detail-popup header .flex-pricing-type-input input:active {
  outline: none;
}

.detail-popup .flex-pricing-type-input .invalid-message {
  position: absolute;
  top: 68px;
  right: 20px;
  padding: 0 5px;
  color: #ff0000;
  background-color: #fff;
}

.detail-popup header .flex-pricing-type-input small {
  display: inline-block;
  padding: 0 5px;
  margin: 5px 0 30px 0;
  font-size: 11px;
  background-color: #000;
  color: #fff;
}

.detail-popup header .flex-pricing-type-input small.invalid-minimum {
  color: #ff0000;
}

.detail-popup-currency-symbol {
  position: absolute;
  top: 59px;
  left: 180px;
  z-index: 9999;
  font-size: 30px;
}

.detail-popup header .flex-pricing-type-buttons * {
  user-select: none;
}

.detail-popup header .flex-pricing-type-buttons .radio-label {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 2px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border: 3px solid #000;
}

.detail-popup header .flex-pricing-type-buttons .radio-label-active {
  border: 3px solid #fff;
}

.detail-popup header .flex-pricing-type-buttons .radio-label:nth-child(1) {
  background-color: blue;
}

.detail-popup header .flex-pricing-type-buttons .radio-label:nth-child(2) {
  background-color: green;
}

.detail-popup header .flex-pricing-type-buttons .radio-label:nth-child(3) {
  background-color: orange;
}

.detail-popup header .flex-pricing-type-buttons input {
  display: none;
}

.detail-popup-buttons {
  margin-top: 5px;
}

.detail-popup-buttons button {
  display: inline-block;
  width: 130px;
  height: 45px;
  margin: 0 20px 0 0;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}

.detail-popup-buttons button:nth-child(2) {
  margin-right: 0;
}

.invalid.detail-popup-buttons button {
  opacity: 0.5;
  pointer-events: none;
}

.detail-popup-buttons .detail-popup-cart-link {
  display: block;
  position: absolute;
  bottom: 0;
  left: 215px;
  width: 60px;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.purchase-form-alternate-formats {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 5px;
  background: #fff;
}

.purchase-form-alternate-formats h3 {
  margin: 0 0 5px 0;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.purchase-form-alternate-formats a {
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

.purchase-form-alternate-formats a:hover {
  text-decoration: underline;
}

.detail-popup header .hem-player-track-play-pause-button {
  position: absolute;
  bottom: 50px;
  right: 60px;
  width: 60px;
  height: 60px;
  transform: scale(2);
  transform-origin: bottom right;
  background-color: var(--line-orange);
}

.detail-popup header .hem-play-pause-button {
  background-color: var(--line-orange);
}

.detail-popup-purchase-form-hidden header .hem-play-pause-button {
  bottom: 50px;
  left: 10px;
  transform: none;
}

.detail-popup header .hem-player-track-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

.detail-popup header .hem-player-track-play-pause-button .hem-spinner svg rect {
  fill: #fff !important;
}

.reveal-purchase-form-button {
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 160px;
  height: 60px;
  margin-right: 0;
  font-size: 20px;
}

.detail-popup-form .suggested-price-label em {
  font-size: 28px;
}

.detail-popup-buttons .action-button {
  position: relative;
}

.detail-popup-buttons .action-button.adding {
  background-color: #000;
}

.detail-popup-buttons .hem-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
}

.detail-popup-buttons .hem-spinner svg {
  width: 50px;
  height: 50px;
}

.detail-popup-details {
  position: relative;
  padding: 30px 450px 20px 30px;
  margin-bottom: 100px;
  background-color: #fff;
}

.detail-popup-details a {
  text-decoration: underline;
}

.detail-popup-purchase-form-hidden .detail-popup-details {
  padding-top: 0;
}

.hem-popup-content .detail-popup-details h2 {
  margin: 60px 0 10px 0;
  padding: 0;
  font-size: 44px;
  color: var(--line-orange);
}

.hem-popup-content .detail-popup-details hr {
  border: none;
  border-top: 1px solid #999;
}

.hem-popup-content .detail-popup-details h2.main-subheading {
  margin-top: 0;
}

.hem-popup-content .detail-popup-details .mega-blurb {
  margin: 20px 0 20px 0;
}

.hem-popup-content .detail-popup-details .mega-blurb p {
  line-height: 40px;
  font-size: 24px;
  color: #000;
  font-weight: 500;
}

.hem-popup-content .detail-popup-details p {
  margin: 0 0 20px 0;
  line-height: 32px;
  font-size: 18px;
  color: #333;
}

.hem-popup-content .detail-popup-details .detail-cms-text ul {
  padding: 40px 20px 20px 40px;
  background-color: #eee;
}

.hem-popup-content .detail-popup-details .detail-cms-text ul li {
  margin-bottom: 20px;
}

.detail-popup-details-sidebar {
  position: absolute;
  top: -10px;
  right: 20px;
  z-index: 99999;
  width: 390px;
  background-color: #eee;
}

.detail-popup-details-sidebar-info h4 {
  margin: 0 0 5px 0;
}

.detail-popup-details-sidebar-info p {
  font-size: 13px !important;
  line-height: 18px !important;
}

.detail-popup-details-sidebar-raised {
  top: -80px;
}

.detail-popup-details-playlist {
  width: 390px;
  margin: 0 0 30px 0;
  padding: 0;
  background-color: #333;
  list-style-type: none;
}

.detail-popup-details-playlist li {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #666;
  color: #fff;
  font-size: 11px;
  cursor: pointer;
}

.detail-popup-details-playlist li.active {
  background-color: #666;
}

.detail-popup-details-playlist li .hem-play-pause-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

.detail-popup-details-playlist li .hem-play-pause-button-icon {
  width: 40px;
  height: 40px;
  transform: translateY(-1px);
}

.detail-popup-details-playlist li .hem-play-pause-button-icon::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
}

.detail-popup-details-playlist li .hem-spinner {
  width: 30px;
  height: 30px;
}

.detail-popup-details-playlist li .hem-spinner svg {
  width: 30px;
  height: 30px;
}

.detail-popup-details-playlist li .hem-play-pause-button-playing .hem-play-pause-button-icon {
  transform: scale(.3) translateX(2px);
}

.detail-popup-details-playlist-text {
  position: absolute;
  top: 0;
  left: 40px;
  width: 300px;
  height: 30px;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-popup-details-sidebar-info {
  padding: 0 10px;
  font-size: 14px;
  color: #666;
}

.hem-popup-content .detail-popup-details .detail-popup-details-sidebar-info h2 {
  margin-top: 45px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.detail-popup-details-sidebar-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.detail-popup-details-sidebar-info ul li {
  margin-bottom: 10px;
}

.scroll-down-pointer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 30px;
  margin-left: -30px;
  background-color: black;
}

.scroll-down-pointer .hem-chevron-button {
  display: block;
  transform: rotate(90deg);
}

.bsp-print-link {
  float: left;
  clear: both;
}

.bsp-print-link a {
  color: inherit;
}

.detail-popup-fixed-price {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
}

.detail-popup-title {
  position: relative;
}

.detail-popup-sibling-selectors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}

.detail-popup-sibling-selector {
  position: absolute;
  bottom: 0;
}

.detail-popup-sibling-selector a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  pointer-events: all;
}

.detail-popup-sibling-selector-prev {
  left: 10px;
}

.detail-popup-sibling-selector-next {
  right: 10px;
}

.hem-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
}

.hem-popup-container-open {
  opacity: 1;
  pointer-events: all;
}

.hem-popup-content {
  background: #fff;
}

.hem-popup-content .ScrollbarsCustom-TrackY[style] {
  width: 5px !important;
  border-radius: 0 !important;
}

.hem-popup-content .ScrollbarsCustom-ThumbY[style] {
  border-radius: 0 !important;
}

.hem-popup-content h2 {
  margin: 0;
  padding: 0 20px;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

.hem-popup-content p {
  padding: 0;
}

.hem-popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 9999;
  font-size: 0;
}

.image-gallery {
  width: 1040px;
}

.image-gallery ul {
  margin: 0;
  padding: 10px 10px 100px 10px;
  justify-content: space-between;
  list-style-type: none;
}

.image-gallery ul li {
  display: inline-block;
  width: 107px;
  height: 107px;
  margin: 10px;
  transform: translateX(2px);
  cursor: pointer;
}

.detail-popup-details-sidebar .image-gallery {
  width: 390px;
}

.detail-popup-details-sidebar .image-gallery ul li {
  width: 113px;
  height: 113px;
  margin: 5px;
}

.image-gallery-lightbox {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16777271;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.image-gallery-lightbox-content {
  position: relative;
  width: 820px;
  background-color: #000;
  padding: 40px 30px 0;
  text-align: center;
}

.image-gallery-lightbox-close-button {
  position: absolute;
  top: 3px;
  right: 3px;
  transform: scale(.4);
  transform-origin: top right;
}

.image-gallery-lightbox-image {
  width: 820px;
  height: 545px;
}

.image-gallery-lightbox-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-gallery-lightbox-caption {
  height: 70px;
  background-color: #000;
  color: #fff;
  padding: 20px 5px 0 5px;
  text-align: left;
}

.image-gallery-lightbox-prev-button,
.image-gallery-lightbox-next-button {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  transform-origin: center;
}

.image-gallery-lightbox-prev-button {
  left: 0;
  transform: rotate(180deg) scale(.8);
}

.image-gallery-lightbox-next-button {
  right: 0;
  transform: scale(.8);
}


/*# sourceMappingURL=/hem-rocks.77de5100.css.map */