.player-carousel .hem-carousel {
  position: absolute;
  width: 100vw;
  height: 95vh;
  top: 0;
  left: 0;
  z-index: 9997;
  overflow: visible;
}

.player-carousel .hem-carousel-track {
  height: 100vh;
}

.player-carousel-panel {
  float: left;
  width: 100vw;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform-origin: center center;
  box-sizing: border-box;
}

.pack-info {
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: 9999;
  width: 500px;
  height: calc(95vh - 210px);
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: #eee;
}

.pack-info h3 {
  margin: 0 0 25px 0;
  letter-spacing: 4px;
  font-size: 60px;
  line-height: 60px;
  font-family: 'U8', sans-serif;
  text-transform: uppercase;
  scroll-margin-bottom: 0;
}

.pack-info-description {
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  line-height: 30px;
}

.pack-info-description p {
  margin-bottom: 25px;
}

.pack-info-description ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pack-info-cta {
  display: block;
  margin: 40px 0 0 0;
  padding: 15px 25px;
  border: none;
  color: #fff;
  font-family: 'U8', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: .7px;
  background: orange;
}

.pack-info-cta:focus,
.pack-info-cta:active {
  outline: none;
}

.player-carousel .hem-displace-frame {
  overflow: hidden;
}

.pack-player {
  position: absolute;
  bottom: calc(5vh + 20px);
  left: 20px;
  z-index: 9999;
  width: calc(100vw - 40px);
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
}

.pack-player-button-wrapper {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 1);
}

.pack-player-button-wrapper:last-child {
  margin-right: 0;
}

.prev-button .hem-next-button {
  transform: rotate(180deg);
}

.pack-player .hem-slider {
  float: left;
  width: calc(100vw - 300px);
  height: 60px;
  margin-right: 5px;
  border: none;
}

.pack-player .hem-slider-progress {
  background: #000;
}

.pack-player-000000 .hem-slider-progress {
  background: #000000;
}

.pack-player-103740 .hem-slider-progress {
  background: #103740;
}

.pack-player-271040 .hem-slider-progress {
  background: #271040;
}

.pack-player-104014 .hem-slider-progress {
  background: #104014;
}

.pack-player-591107 .hem-slider-progress {
  background: #591107;
}

.pack-nav,
.pack-info-cta,
.hem-slider-progress {
  transition: background-color 500ms;
}

.carousel-arrow {
  position: fixed;
  bottom: 100px;
  z-index: 9999;
}

.carousel-arrow-prev {
  left: 0;
  transform: rotate(180deg);
}

.carousel-arrow-next {
  right: 0;
}