html,
body {
  margin: 0;
  padding: 0;
}

.zw-clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.zak-mock-header {
  position: sticky;
  top: 0;
  width: 100%;
}

.zak-mock-header::after {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 32px;
  content: " ";
  background: black;
}

.zak-mock-main {
  padding-top: 60px;
}

.zak-widget {
  width: 100vw;
  background: red;
}

.zw-layout {
  margin: 0 25px;
  background: green;
}

.zw-section {
  float: left;
  width: calc(50% - 12.5px);
}

.zw-section-left {
  margin-right: 12.5px;
  background: aquamarine;
}

.zw-main-image img {
  width: 100%;
  height: auto;
}

/* TODO: Remove height */
.zw-description {
  height: 50px;
  background: grey;
}

.zw-section-right {
  margin-left: 12.5px;
  background: purple;
}

/* TODO: Remove height */
.zw-product-options {
  width: calc(100% - 70px);
  max-width: 450px;
  height: 500px;
  margin-left: 70px;
  background: orange;
}

.zw-product-options * {
  display: none;
}

.zak-mock-bottom {
  width: 100%;
  height: 400px;
  background: yellow;
}

@media only screen and (max-width: 800px) {
  .zw-section {
    position: static;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .zw-product-options {
    width: 100%;
    margin-left: 0;
  }
}
