.tags-input {
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  max-width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: #FFF;
  border: solid 1px #CCC;
  border-radius: 2px;
  min-height: 33px;
  padding: 0 5px;
}

.tags-input input {
  flex-grow: 1;
  display: inline-block;
  order: 200;
  border: none;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
  margin: 0;
}

.tags-input input:focus {
  outline: none;
}

.tags-input div.tag {
  display: inline-block;
  flex-grow: 0;
  margin: 5px 5px 5px 0;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background-color: #E1E1E1;
  color: #333;
  font-size: 14px;
  order: 100;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.tags-input div.tag.duplicate {
  background-color: rgba(255, 64, 27, 0.71);
  transition: all 0.3s linear;
}

.tags-input div.tag:last-child {
  margin-right: 5px;
}

.tags-input div.tag .remove {
  display: inline-block;
  background-color: rgba(255, 64, 27, 0.71);
  color: #FFF;
  position: absolute;
  right: -20px;
  width: 20px;
  text-align: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.tags-input div.tag:hover .remove {
  right: 0;
}
