html,
body {
  margin: 0;
  padding: 0;
}

.page-header,
.page,
.page-footer {
  width: 768px;
  margin: 0 auto;
}

.studio-demo-light {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: white;
  border: 3px solid black;
}

.studio-demo-light-active {
  background: gray;
}

.studio-demo-light-flashing {
  background: orange;
}

.metronome-demo .studio-demo-light {
  transform: translate(10px, 5.5px);
}

.arpeggiator-demo .studio-demo-light {
  margin-right: 15px;
}
