html,
body {
  margin: 0;
  padding: 0;
}

.page-header,
.page,
.page-footer {
  width: 768px;
  margin: 0 auto;
}

.studio__demo-light {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: white;
  border: 3px solid black;
  transform: translate(10px, 5.5px);
}

.studio__demo-light--lighted {
  background: orange;
}

.arpeggiator-demo-grid {
  transform: rotate(180deg) scaleX(-1);
}

.arpeggiator-demo-grid .studio__demo-light {
  margin-right: 15px;
}
