@mixin theme(
  $app-background: #000,
  $tray-background: #000,
  $text: #000,
  $deactivated-text: #000,
  $highlighted-text: #000,
  $popup-background: #000,
  $control-off: #000,
  $control-on: #000,
  $control-alerting: #000,
  $app-active-background: #000,
) {
  background: $app-background;

  &.playing {
    background: $app-active-background;
  }

  .title-tray {
    color: $text;
    background-color: $tray-background;

    svg {
      color: $text;
    }

    .button-menu {
      background-color: $popup-background;
      color: $text;
      box-shadow: 0 0 10px $app-background;

      &::before {
        background-color: $popup-background;
      }

      svg {
        color: $text;
      }

      .selected,
      .selected svg {
        color: $highlighted-text;
      }

      .deactivated,
      .deactivated svg {
        color: $deactivated-text;
      }
    }
  }

  .browser {
    .canvas {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .sliders {
    background-color: $control-off;

    .pro-slider__amount {
      background-color: $control-on;
    }
  }

  .canvas {
    .dot {
      background-color: $control-off;

      &.armed {
        background-color: $control-on;
      }

      &.flashing {
        background-color: $control-alerting;
      }
    }
  }
}
