.button-menu {
  display: none;
  position: absolute;
  z-index: 9999;
  bottom: calc(100% + 10px);
  right: -8px;
  width: 80px;
  border-radius: 5px;
  padding: 5px 5px 15px 5px;
  text-align: left;
}

.button-menu::before {
  position: absolute;
  bottom: -5px;
  right: 10.5px;
  width: 10px;
  height: 10px;
  content: '';
  transform: rotate(45deg);
}

.button-menu.open {
  display: block;
}

.button-menu.has-rocker {
  height: 10px;
}

.button-menu .rocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-menu .rocker span {
  float: left;
  width: 30px;
  height: 30px;
}

.button-menu .rocker span.text {
  width: 30px;
  line-height: 33px;
  text-align: center;
  font-family: 'HelveticaNeueLTStd-Lt';
}

.button-menu .rocker .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-menu .rocker .button svg {
  width: 15px;
  height: 15px;
}
