.dot {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  border-radius: 50%;
  user-select: none;
  transition: background-color 125ms;
}

.dot::before {
  content: '';
  float: left;
  padding-top: 100%;
}
