.page-projects .main-content-box-actions {
  width: 340px;
  right: -30px;
}

.page-projects .main-content-box-actions button {
  margin-right: 10px;
}

.page-projects .main-content-box-actions button.donate-button {
  width: 100px;
}
