html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  overflow-x: hidden;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.buy-button {
  width: 120px;
  height: 36px;
  margin: 0 30px 0 0;
  font-size: 14px;
  font-weight: 100;
  background-color: var(--line-orange);
  cursor: pointer;
  border: 0;
  color: #fff;
}

.buy-button:focus,
.buy-button:active {
  outline: none;
}

.hem-application.popup-open {
  width: 100vw;
}
