.detail-popup {
  height: 100%;
}

.detail-popup .ScrollbarsCustom-Wrapper[style] {
  right: 0 !important;
}

#detail-popup .hem-popup-content {
  top: 20px;
  height: calc(100vh - 40px);
}

.detail-popup header {
  position: relative;
  width: 800px;
  height: 358px;
}

.detail-popup.purchase-form-hidden header {
  position: relative;
  width: 800px;
  height: 190px;
}

.detail-popup header .planes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.detail-popup header .detail-popup-header-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 20px 40px 20px;
}

.detail-popup header h1 {
  width: 760px;
  height: 60px;
  line-height: 60px;
  margin: 15px 0 2px -10px;
  padding: 0;
  font-weight: normal;
  font-size: 80px;
  text-transform: uppercase;
}

.detail-popup header h2 {
  width: 760px;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 12px;
  color: #666;
}

.detail-popup-actions {
  width: 760px;
}

.detail-popup-form {
  position: relative;
  width: 430px;
  margin-top: 30px;
}

.detail-popup header input,
.detail-popup header label,
.detail-popup header small {
  display: block;
  margin-bottom: 10px;
}

.detail-popup header label {
  font-size: 20px;
}

.detail-popup header input {
  width: 200px;
  height: 60px;
  padding: 0 10px;
  border: 0;
  font-size: 24px;
}

.detail-popup .invalid-message {
  position: absolute;
  top: 56px;
  right: 15px;
  color: red;
}

.detail-popup header small {
  font-size: 11px;
}

.detail-popup-currency-symbol {
  position: absolute;
  top: 52px;
  left: 195px;
  font-size: 24px;
}

.detail-popup-buttons {
  margin-top: 30px;
}

.detail-popup-buttons button {
  float: left;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: normal;
  margin-right: 15px;
  cursor: pointer;
}

.detail-popup-buttons .detail-popup-cart-link {
  display: block;
  position: absolute;
  bottom: -21px;
  left: 215px;
  width: 200px;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.detail-popup header .hem-play-pause-button {
  position: absolute;
  bottom: 60px;
  right: 60px;
  transform: scale(2);
  transform-origin: bottom right;
  background-color: var(--line-orange);
}

.detail-popup.purchase-form-hidden header .hem-play-pause-button {
  bottom: 50px;
  right: 224px;
  transform: none;
}

.reveal-purchase-form-button {
  position: absolute;
  bottom: 50px;
  right: 54px;
  width: 160px;
  height: 60px;
  margin-right: 0;
  font-size: 20px;
}

.detail-popup-details {
  padding: 30px 0;
  /* background-color: var(--line-orange); */
  background-color: #fff;
}

.detail-popup.purchase-form-hidden .detail-popup-details {
  padding-top: 0;
}

.hem-popup-content .detail-popup-details h2 {
  margin-left: -4px;
  font-size: 30px;
}
