.detail-popup {
  height: 100%;
}

.detail-popup .ScrollbarsCustom-Wrapper[style] {
  right: 0 !important;
}

#detail-popup .hem-popup-content,
#detail-popup-hidden-purchase-form .hem-popup-content {
  top: 20px;
  width: 1000px;
  margin-left: -500px;
  height: calc(100vh - 40px);
}

.detail-popup header {
  position: relative;
  width: 100%;
  height: 358px;
  background: #eee;
}

.detail-popup.purchase-form-hidden header {
  position: relative;
  height: 190px;
}

.detail-popup header .planes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.detail-popup header .detail-popup-key-art-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  display: none;
}

.detail-popup header .detail-popup-header-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 20px 40px 20px;
}

.detail-popup header h1 {
  width: 760px;
  line-height: 57px;
  margin: 15px 0 5px -10px;
  padding: 0;
  font-weight: normal;
  font-size: 80px;
  text-transform: uppercase;
}

.detail-popup header h2 {
  width: 760px;
  margin: 0 0 26px 0;
  padding: 0;
  font-size: 12px;
  color: #666;
}

.detail-popup-actions {
  position: absolute;
  bottom: 50px;
  width: 760px;
}

.detail-popup-form {
  position: relative;
  width: 430px;
  margin-top: -7px;
}

.detail-popup header input,
.detail-popup header label,
.detail-popup header small {
  display: block;
  margin-bottom: 5px;
}

.detail-popup header label {
  font-size: 20px;
}

.detail-popup header input {
  width: 200px;
  height: 60px;
  padding: 0 10px;
  border: 0;
  font-size: 24px;
}

.detail-popup .invalid-message {
  position: absolute;
  top: 56px;
  right: 15px;
  color: red;
}

.detail-popup header small {
  font-size: 11px;
}

.detail-popup-currency-symbol {
  position: absolute;
  top: 47px;
  left: 195px;
  font-size: 24px;
}

.detail-popup-buttons {
  margin-top: 18px;
}

.detail-popup-buttons button {
  float: left;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: normal;
  margin-right: 15px;
  cursor: pointer;
}

.detail-popup-buttons .detail-popup-cart-link {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 425px;
  width: 60px;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.detail-popup header .hem-play-pause-button {
  position: absolute;
  bottom: 50px;
  right: 60px;
  transform: scale(2);
  transform-origin: bottom right;
  background-color: var(--line-orange);
}

.detail-popup.purchase-form-hidden header .hem-play-pause-button {
  bottom: 50px;
  left: 10px;
  transform: none;
}

.reveal-purchase-form-button {
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 160px;
  height: 60px;
  margin-right: 0;
  font-size: 20px;
}

.purchase-form-spinner .hem-spinner {
  width: 220px;
  height: 50px;
}

.purchase-form-spinner .hem-spinner svg {
  width: 50px;
  height: 50px;
}

.detail-popup-details {
  padding: 30px 0;
  background-color: #fff;
}

.detail-popup.purchase-form-hidden .detail-popup-details {
  padding-top: 0;
}

.hem-popup-content .detail-popup-details h2 {
  margin-left: -4px;
  font-size: 30px;
}
