.main-nav {
  position: fixed;
  top: 0;
  right: 5px;
  width: 50vw;
  z-index: 9999;
  height: var(--top-bar-height);
  opacity: 0;
  transition: opacity 250ms;
}

.app-activated .main-nav {
  opacity: 1;
}

.main-nav ul {
  width: 50vw;
  height: var(--top-bar-height);
  line-height: var(--top-bar-height);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.main-nav ul li {
  display: inline;
  margin: 0 0 0 30px;
  text-transform: uppercase;
}

.main-nav ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.main-nav ul li a.active,
.main-nav ul li a:hover {
  border-bottom: 1px solid #fff;
}
