.main-nav {
  position: fixed;
  top: 0;
  right: 5px;
  width: 100vw;
  z-index: 9999;
  height: var(--top-bar-height);
  opacity: 0;
  transition: opacity 100ms;
}

.app-activated .main-nav {
  opacity: 1;
}

.main-nav ul {
  width: 100vw;
  height: var(--top-bar-height);
  line-height: var(--top-bar-height);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.main-nav ul li {
  display: inline;
  margin: 0 0 0 40px;
  text-transform: uppercase;
}

.main-nav ul li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 100;
}

.main-nav ul li a.active,
.main-nav ul li a:hover {
  /* border-bottom: 1px solid #fff; */
}
