.mega-nav .hem-hamburger-menu-toggle {
  top: 0;
  right: 5px;
  z-index: 999999;
  transform: scaleX(0.7) scaleY(0.7) translateY(3px);
}

.mega-nav .hem-hamburger-menu-toggle span {
  margin-bottom: 7px;
  background-color: #fff;
  transition: none;
}

.mega-nav .hem-hamburger-menu-toggle-open {
  top: 5px;
  transform: translateX(-5px) scale(0.8);
}

.mega-nav .hem-hamburger-menu-toggle-open span {
  background-color: #000;
}

.mega-nav .hem-hamburger-menu-toggle-open span:nth-child(1) {
  left: -3.5px;
}

.mega-nav .hem-hamburger-menu-toggle-open span:nth-child(1),
.mega-nav .hem-hamburger-menu-toggle-open span:nth-child(3) {
  width: 35px;
}

.mega-nav .hem-hamburger-menu-content-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999998;
  background-color: #fff;
}

.mega-nav .logo {
  margin: 80px 0 0 50px;
  color: var(--line-orange);
}

.mega-nav h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--line-orange);
}

.mega-nav-home-link {
  margin: 40px 0 0 60px;
  text-decoration: none;
  color: var(--line-orange);
  font-size: 18px;
  font-weight: bold;
}

.mega-nav-home-link a {
  color: inherit;
  text-decoration: none;
}

.mega-nav-home-link span {
  display: inline-block;
  transform: translateY(2px);
}

.mega-nav-sections {
  margin: 10px 0 0 60px;
}

.mega-nav-section {
  float: left;
  width: 130px;
  height: 270px;
  margin: 0 50px 0 0;
}

.mega-nav-section ul {
  width: 100%;
  height: 200px;
  padding: 20px 0 0 20px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  list-style-type: none;
}

.mega-nav-section li {
  margin-bottom: 15px;
}

.mega-nav-section li a {
  color: inherit;
  text-decoration: none;
}

.mega-nav-section li a:hover {
  text-decoration: underline;
}

.mega-nav-mailing-list {
  margin: 0 0 30px 60px;
}

.mega-nav-mailing-list .campaign-monitor-form {
  width: 640px;
  height: 50px;
  padding: 20px 0 0 20px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.mega-nav-mailing-list h3 {
  font-size: 32px;
}

.mega-nav-mailing-list input {
  float: left;
  width: 200px;
  height: 30px;
  line-height: 31px;
  margin-right: 10px;
  padding: 0 10px;
  font-family: Avenir, sans-serif;
  font-size: 14px;
  border: 1px solid #ddd;
}

.mega-nav-mailing-list button {
  float: left;
  height: 32px;
  line-height: 29px;
  padding: 0 10px;
  border: 1px solid var(--line-orange);
  font-size: 14px;
}

.mega-nav-footer {
  position: fixed;
  bottom: 10px;
  left: 60px;
  font-size: 11px;
  line-height: 24px;
  color: #aaa;
}

.mega-nav-footer a {
  color: inherit;
}