.hem-nag-toaster {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999999;
  width: 350px;
  height: 250px;
  background-color: #000;
}

.hem-nag-toaster-open {
  display: block;
}

.hem-nag-toaster-close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 18px;
  height: 18px;
  font-size: 0;
}

.hem-nag-toaster-close-button .hem-close-button {
  transform: scale(0.3);
  transform-origin: top left;
}

.hem-nag-toaster-close-button .hem-close-button span {
  height: 10px;
}

.hem-nag-toaster button {
  width: 120px;
  height: 36px;
  margin: 0 30px 0 0;
  font-size: 14px;
  font-weight: normal;
  background-color: var(--line-orange);
  cursor: pointer;
  border: 0;
  color: #fff;
}
