.player-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  width: 100vw;
  width: 60px;
  height: 60px;
  background-color: #000;
  overflow: hidden;
  user-select: none;
}

.player-bar * {
  user-select: none;
}

.player-bar-expanded {
  width: 100vw;
  overflow: visible;
}

.player-bar-playback-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
}

.player-bar .hem-previous-button,
.player-bar .hem-next-button,
.player-bar .hem-play-pause-button {
  float: left;
  background-color: #000;
}

.player-bar-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.player-bar-toggle .hem-play-pause-button {
  margin-left: 0;
  background-color: #000;
}

.player-bar .player-bar-now-playing {
  position: absolute;
  left: 170px;
  height: 50px;
  line-height: 50px;
  color: #ccc;
  pointer-events: none;
  font-size: 14px;
}

.hem-player-play-pause-button .hem-spinner {
  position: relative;
  float: left;
  width: 50px;
  height: 60px;
}

.hem-player-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
}

.hem-player-progress-bar {
  float: left;
  width: calc(100vw - 240px);
  height: 60px;
}

.hem-player-progress-bar-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #333;
  cursor: pointer;
}

.playlist-toggle {
  position: absolute;
  right: 60px;
  top: 0;
}

.playlist-toggle .hem-play-pause-button {
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9);
}

.playlist-toggle .hem-hamburger-button-icon {
  transform: scale(1.5) translateY(1px);
}

.player-bar-playlist {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100vw;
  height: 400px;
  background: #222;
  border-top: 1px solid var(--line-orange);
}
