.player-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  width: 100vw;
  width: 60px;
  height: 60px;
  background-color: #000;
  overflow: hidden;
  user-select: none;
}

.player-bar * {
  user-select: none;
}

.player-bar-expanded {
  width: 100vw;
  overflow: visible;
}

.player-bar-playback-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
}

.player-bar .hem-previous-button,
.player-bar .hem-next-button,
.player-bar .hem-play-pause-button {
  float: left;
  background-color: #000;
  box-sizing: border-box;
  border-right: 1px solid #666;
  border-top: 1px solid #666;
}

.player-bar .hem-previous-button .hem-next-button {
  border-right: 0;
}

.player-bar-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.player-bar-toggle .hem-play-pause-button {
  border: 0;
}

.player-bar-expanded .player-bar-toggle {
  border-left: 1px solid #666;
  border-top: 1px solid #666;
}

.player-bar-toggle .hem-close-button-icon {
  transform: scale(.5);
}

.player-bar-toggle .hem-play-pause-button {
  margin-left: 0;
  background-color: #000;
}

.player-bar .player-bar-now-playing {
  position: absolute;
  left: 180px;
  top: 0;
  width: calc(100vw - 301px);
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-top: 1px solid #666;
  text-indent: 20px;
  color: #eee;
}

.player-bar .player-bar-now-playing a {
  color: inherit;
  font-size: 13px;
  text-decoration: none;
}

.hem-player-play-pause-button .hem-spinner {
  position: relative;
  float: left;
  width: 50px;
  height: 60px;
}

.hem-player-play-pause-button .hem-spinner svg {
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
}

.hem-player-progress-bar {
  position: absolute;
  left: 181px;
  bottom: 0;
  width: calc(100vw - 301px);
  height: 6px;
  box-sizing: border-box;
  background: #222;
}

.hem-player-progress-bar-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #333;
  cursor: pointer;
}

.playlist-toggle {
  position: absolute;
  right: 60px;
  top: 0;
  width: 60px;
  height: 60px;
  border-left: 1px solid #666;
  border-top: 1px solid #666;
  box-sizing: border-box;
  overflow: hidden;
}

.playlist-toggle-close {
  transform: scale(0.7) translateY(15px);
  transform-origin: center;
}

.playlist-toggle .hem-play-pause-button {
  border: 0;
  transform: rotate(90deg) scaleY(1.1) scaleX(0.9) translateY(1.5px);
}

.playlist-toggle .hem-hamburger-button-icon {
  transform: scale(1.1) translateY(1px);
}

.player-bar-playlist {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100vw;
  height: 400px;
  background: #222;
  border-top: 1px solid var(--line-orange);
}

.player-bar-playlist ul {
  margin: 0;
  padding: 0;
}

.player-bar-playlist li {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #666;
  color: #aaa;
  font-size: 13px;
  cursor: pointer;
  padding-left: 40px;
}

.player-bar-playlist li .hem-play-pause-button {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.67);
  transform-origin: top left;
  border: 0;
  background: transparent;
}

.player-bar-playlist li .hem-play-pause-button-icon {
  transform: scale(0.7) translateY(-1px);
  transform-origin: center;
}
