.post-download-popup header {
  padding: 0 10px;
}

/* TODO: Global H1 className */
.post-download-popup header h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

/* TODO: Globalize this className */
.post-download-popup-content {
  padding: 0 15px;
}

.post-download-popup-content a {
  color: var(--line-orange);
}

.post-download-popup-email-form {
  width: calc(100% + 30px);
  height: 412px;
  margin: 30px 0 0 -15px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.post-download-popup-email-form h2 {
  width: 650px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 36px;
}

.post-download-popup-email-form p {
  width: calc(100% + 30px);
  margin-bottom: 30px;
  padding: 0;
}

.post-download-popup-email-form input {
  display: block;
  width: 260px;
  height: 20px;
  margin: 0 auto 15px auto;
  padding: 10px;
  font-size: 14px;
}

.post-download-popup-email-form button {
  display: block;
  width: 280px;
  height: 40px;
  margin: 25px auto 10px auto;
  font-size: 18px;
  font-weight: normal;
}
