:root {
  --top-bar-height: 30px;
  --main-nav-height: 100px;

  --content-width-desk: 1098px;

  /* Colors */
  --line-orange: #fa563c;
  --light-gray: #cac9c9;
  --nice-blue: #3535e6;
  --exclusive-purple: #e035e6;
}