:root {
  --exhibit-frame-width: 1100px;
  --exhibit-frame-height: calc(100vh - 50px);
}

#exhibit-popup {
  background-color: rgba(0, 0, 0, 0.9);
}

#exhibit-popup .hem-popup-content {
  top: 50px;
  left: 0;
  width: 100vw;
  height: var(--exhibit-frame-height);
  margin: 0;
  background-color: #000;
}

#exhibit-popup .hem-popup-content .hem-popup-close {
  right: calc((100vw - var(--exhibit-frame-width)) / 2);
}

#exhibit-popup .hem-popup-content::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100vw;
  height: var(--exhibit-frame-height);
  box-shadow: inset 50px 0px 31px -14px #000;
  pointer-events: none;
  content: " ";
}

#exhibit-popup .hem-popup-content::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100vw;
  height: var(--exhibit-frame-height);
  box-shadow: inset -50px 0px 31px -14px #000;
  pointer-events: none;
  content: " ";
}

.exhibit-popup-navigation-arrows {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  margin-left: -550px;
  width: var(--exhibit-frame-width);
  height: 100px;
  pointer-events: none;
}

.exhibit-popup-navigation-arrow-prev,
.exhibit-popup-navigation-arrow-next {
  position: absolute !important;
  top: 60px;
  height: calc(var(--exhibit-frame-height) - 60px) !important;
  pointer-events: all;
}

.exhibit-popup-navigation-arrow-prev {
  left: 0;
  transform: translateY(-33px) rotate(180deg);
}

.exhibit-popup-navigation-arrow-next {
  right: 0;
  transform: translateY(-33px);
}

.exhibit-popup-frame {
  position: relative;
  display: inline-block;
  width: var(--exhibit-frame-width);
  height: var(--exhibit-frame-height);
  color: #fff;
}

.exhibit-popup-frame-content {
  width: 900px;
  height: var(--exhibit-frame-height);
  margin: 0 auto;
  background-size: cover;
}

.exhibit-popup-frame-content a {
  color: inherit;
}
