.image-gallery {
  width: 1040px;
}

.image-gallery ul {
  margin: 0;
  padding: 10px 10px 100px 10px;
  justify-content: space-between;
  list-style-type: none;
}

.image-gallery ul li {
  display: inline-block;
  width: 107px;
  height: 107px;
  margin: 10px;
  transform: translateX(2px);
  cursor: pointer;
}

.detail-popup-details-sidebar .image-gallery {
  width: 390px;
}

.detail-popup-details-sidebar .image-gallery ul li {
  width: 113px;
  height: 113px;
  margin: 5px;
}

.image-gallery-lightbox {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16777271;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.image-gallery-lightbox-content {
  position: relative;
  width: 820px;
  background-color: #000;
  padding: 40px 30px 0;
  text-align: center;
}

.image-gallery-lightbox-close-button {
  position: absolute;
  top: 3px;
  right: 3px;
  transform: scale(.4);
  transform-origin: top right;
}

.image-gallery-lightbox-image {
  width: 820px;
  height: 545px;
}

.image-gallery-lightbox-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-gallery-lightbox-caption {
  height: 70px;
  background-color: #000;
  color: #fff;
  padding: 20px 5px 0 5px;
  text-align: left;
}

.image-gallery-lightbox-prev-button,
.image-gallery-lightbox-next-button {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  transform-origin: center;
}

.image-gallery-lightbox-prev-button {
  left: 0;
  transform: rotate(180deg) scale(.8);
}

.image-gallery-lightbox-next-button {
  right: 0;
  transform: scale(.8);
}
